/*STYLE RESET START*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: #ffffff;
  font: 16px "pf_din_text_comp_proMdIt", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  display: block;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: auto;
}

textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  -webkit-border-radius: 0;
          border-radius: 0;
}

label {
  margin: 0;
}

input, select {
  border: none;
  outline: none;
  -webkit-border-radius: 0;
          border-radius: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.height-helper {
  min-height: 94%;
  overflow: hidden;
  background-color: #15bef0;
}

/*STYLE RESET END*/
@font-face {
  font-family: 'pf_din_text_comp_proBdIt';
  src: url("../fonts/DinTextCompPro/pfdintextcomppro-boldital-webfont.eot");
  src: url("../fonts/DinTextCompPro/pfdintextcomppro-boldital-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DinTextCompPro/pfdintextcomppro-boldital-webfont.woff2") format("woff2"), url("../fonts/DinTextCompPro/pfdintextcomppro-boldital-webfont.woff") format("woff"), url("../fonts/DinTextCompPro/pfdintextcomppro-boldital-webfont.ttf") format("truetype"), url("../fonts/DinTextCompPro/pfdintextcomppro-boldital-webfont.svg#pf_din_text_comp_proBdIt") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_din_text_comp_prolight';
  src: url("../fonts/DinTextCompPro/pfdintextcomppro-light-webfont.eot");
  src: url("../fonts/DinTextCompPro/pfdintextcomppro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DinTextCompPro/pfdintextcomppro-light-webfont.woff2") format("woff2"), url("../fonts/DinTextCompPro/pfdintextcomppro-light-webfont.woff") format("woff"), url("../fonts/DinTextCompPro/pfdintextcomppro-light-webfont.ttf") format("truetype"), url("../fonts/DinTextCompPro/pfdintextcomppro-light-webfont.svg#pf_din_text_comp_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_din_text_comp_proLtIt';
  src: url("../fonts/DinTextCompPro/pfdintextcomppro-lightital-webfont.eot");
  src: url("../fonts/DinTextCompPro/pfdintextcomppro-lightital-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DinTextCompPro/pfdintextcomppro-lightital-webfont.woff2") format("woff2"), url("../fonts/DinTextCompPro/pfdintextcomppro-lightital-webfont.woff") format("woff"), url("../fonts/DinTextCompPro/pfdintextcomppro-lightital-webfont.ttf") format("truetype"), url("../fonts/DinTextCompPro/pfdintextcomppro-lightital-webfont.svg#pf_din_text_comp_proLtIt") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_din_text_comp_proMdIt';
  src: url("../fonts/DinTextCompPro/pfdintextcomppro-medital-webfont.eot");
  src: url("../fonts/DinTextCompPro/pfdintextcomppro-medital-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DinTextCompPro/pfdintextcomppro-medital-webfont.woff2") format("woff2"), url("../fonts/DinTextCompPro/pfdintextcomppro-medital-webfont.woff") format("woff"), url("../fonts/DinTextCompPro/pfdintextcomppro-medital-webfont.ttf") format("truetype"), url("../fonts/DinTextCompPro/pfdintextcomppro-medital-webfont.svg#pf_din_text_comp_proMdIt") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_din_text_comp_promedium';
  src: url("../fonts/DinTextCompPro/pfdintextcomppro-medium-webfont.eot");
  src: url("../fonts/DinTextCompPro/pfdintextcomppro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DinTextCompPro/pfdintextcomppro-medium-webfont.woff2") format("woff2"), url("../fonts/DinTextCompPro/pfdintextcomppro-medium-webfont.woff") format("woff"), url("../fonts/DinTextCompPro/pfdintextcomppro-medium-webfont.ttf") format("truetype"), url("../fonts/DinTextCompPro/pfdintextcomppro-medium-webfont.svg#pf_din_text_comp_promedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_din_text_comp_proregular';
  src: url("../fonts/DinTextCompPro/pfdintextcomppro-regular-webfont.eot");
  src: url("../fonts/DinTextCompPro/pfdintextcomppro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DinTextCompPro/pfdintextcomppro-regular-webfont.woff2") format("woff2"), url("../fonts/DinTextCompPro/pfdintextcomppro-regular-webfont.woff") format("woff"), url("../fonts/DinTextCompPro/pfdintextcomppro-regular-webfont.ttf") format("truetype"), url("../fonts/DinTextCompPro/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/RobotoR/Roboto-Regular.eot");
  src: url("../fonts/RobotoR/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoR/Roboto-Regular.woff2") format("woff2"), url("../fonts/RobotoR/Roboto-Regular.woff") format("woff"), url("../fonts/RobotoR/Roboto-Regular.ttf") format("truetype"), url("../fonts/RobotoR/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?61fpy9");
  src: url("../fonts/icomoon/icomoon.eot?61fpy9#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?61fpy9") format("truetype"), url("../fonts/icomoon/icomoon.woff?61fpy9") format("woff"), url("../fonts/icomoon/icomoon.svg?61fpy9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Combined_Shape:before {
  content: "\e904";
  color: #00468b;
}

.icon-mob-menu .path1:before {
  content: "\e90c";
  color: white;
}

.icon-mob-menu .path2:before {
  content: "\e90d";
  margin-left: -0.685546875em;
  color: white;
}

.icon-mob-menu .path3:before {
  content: "\e90e";
  margin-left: -0.685546875em;
  color: white;
}

.icon-mob-menu .path4:before {
  content: "\e90f";
  margin-left: -0.685546875em;
  color: #15bef0;
}

.icon-show_password:before {
  content: "\e900";
  color: #15bef0;
}

.icon-close-btn:before {
  content: "\e901";
  color: #fff;
}

.icon-arrow-captcha:before {
  content: "\e902";
  color: #00468b;
}

.icon-arrow-slider:before {
  content: "\e903";
  color: #00468b;
}

.icon-fb:before {
  content: "\e908";
  color: #fff;
}

.icon-insta:before {
  content: "\e909";
  color: #fff;
}

.icon-odn:before {
  content: "\e90a";
  color: #fff;
}

.icon-vk:before {
  content: "\e90b";
  color: #fff;
}

.container {
  width: 100%;
  padding: 0 15px;
  max-width: 960px;
  margin: 0 auto;
}

.flex-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.justify-sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-sa {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.justify-fe {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-c {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  padding: 15px 0 18px;
  position: relative;
  z-index: 11;
  background-color: #00468b;
}

.header__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__burger {
  display: none;
  font-size: 33px;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  font-size: 18px;
  width: 100%;
}

.nav__link {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.nav__link + .nav__link {
  margin-left: 18px;
}

.nav__link:hover, .nav__link.active {
  color: #ffd07f;
}

.logo {
  position: relative;
  top: 40px;
  margin: -25px 120px -20px 0;
}

.logo img {
  max-height: 69px;
}

.logo_mob {
  display: none;
}

.personal-area {
  margin-left: 18px;
}

.personal-area__photo {
  display: none;
}

.personal-area__info {
  width: 100%;
}

.personal-area__text {
  text-align: center;
  margin-top: -20px;
  margin-bottom: -28px;
  padding: 20px 12px 30px;
  -webkit-transform: skew(-10deg);
      -ms-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.personal-area__text p {
  -webkit-transform: skew(10deg);
      -ms-transform: skew(10deg);
          transform: skew(10deg);
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.personal-area__text:hover {
  background-color: #ffd07f;
}

.personal-area__text:hover p {
  color: #00468b;
}

.personal-area__no-entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.personal-area__entry {
  display: none;
}

.personal-area.login .personal-area__entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.personal-area.login .personal-area__text {
  background-color: #ffd07f;
}

.personal-area.login .personal-area__text p {
  color: #00468b;
}

.personal-area.login .personal-area-name {
  display: none;
}

.personal-area.login .personal-area__no-entry {
  display: none;
}

.container-info__score {
  display: none;
}

.personal-area-photo {
  display: none;
  margin-right: 7px;
  background-color: #ffd07f;
  margin: -30px 0 -20px;
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.personal-area-photo_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 26px;
}

.footer {
  background-color: #ffffff;
  padding: 20px 0 5px;
  font-family: "pf_din_text_comp_proregular", sans-serif;
  position: relative;
  z-index: 11;
}

.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  color: #4d1d85;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__nav li {
  position: relative;
}

.footer__nav li::before {
  content: '';
  position: absolute;
  background-color: #e20509;
  height: 3px;
  width: 3px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -11px;
}

.footer__nav li:first-child::before {
  display: none;
}

.footer__nav li + li {
  margin-left: 20px;
}

.footer__nav li a {
  color: #4d1d85;
}

.footer__logo {
  margin-top: 35px;
  text-align: center;
}

.footer__author {
  margin-top: 15px;
  font-size: 11px;
  color: #4d1d85;
  text-align: center;
}

.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #00468b;
  padding: 25px 0 20px;
  text-align: center;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  opacity: 0;
  z-index: -1;
  color: #ffffff;
  font-family: "pf_din_text_comp_prolight", sans-serif;
}

.cookies__text {
  margin: 0 auto 10px;
  width: 70%;
}

.cookies__text a {
  color: #15bef0;
  position: relative;
}

.cookies__text a:after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #15bef0;
}

.cookies.js-show {
  opacity: 1;
  z-index: 99;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 70, 139, 0.7);
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.popup.js-popup-show {
  z-index: 100;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__close {
  position: absolute;
  top: -30px;
  margin-right: -12px;
  right: 50%;
  width: 22px;
  height: 22px;
  cursor: pointer;
  text-align: center;
}

.popup__wrap {
  background-color: #ffffff;
  max-width: 300px;
  width: 100%;
  padding: 20px 30px 40px;
  position: absolute;
  top: 120px;
  left: 50%;
  margin-bottom: 100px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.popup__title {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}

.popup__title--min {
  font-size: 21px;
  color: #4a4a4a;
  margin-bottom: 10px;
  margin-top: 40px;
}

.popup__text {
  text-align: center;
  color: #4a4a4a;
  font-family: "pf_din_text_comp_prolight", sans-serif;
  font-size: 18px;
}

.popup__text_img {
  margin-bottom: 20px;
}

.popup__text--marginTop {
  margin-top: 30px;
}

.popup__text_color-w a {
  color: #15bef0;
  text-decoration: underline;
}

.reg-winner .popup__wrap {
  padding: 20px 60px 40px;
  max-width: 380px;
}

.reg-winner .popup__wrap:before {
  content: "";
  position: absolute;
  top: 0;
  left: -35%;
  width: 117px;
  height: 312px;
  z-index: 1;
  background: url("../img/Sparcles1.png") no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain;
}

.reg-winner .popup__wrap:after {
  content: "";
  position: absolute;
  top: 20%;
  right: -35%;
  z-index: 1;
  width: 127px;
  height: 282px;
  background: url("../img/Sparcles2.png") no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain;
}

.icon-close-btn {
  font-size: 20px;
}

span div.error {
  font-family: "pf_din_text_comp_prolight", sans-serif;
  color: #ff0000;
  font-size: 12px;
  margin-top: 3px;
}

body > .select2-container {
  width: auto !important;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.select2-container {
  width: 100% !important;
  outline: none;
  z-index: 101;
}

.select2-container * {
  outline: none;
}

.select2-container .select2-selection {
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #15bef0;
  background-color: #ffffff;
  color: #00468b;
  font-size: 18px;
  font-family: "pf_din_text_comp_promedium", sans-serif;
  padding: 13px 20px;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.select2-container .select2-selection__rendered {
  padding-left: 0 !important;
}

.select2-container .select2-selection__arrow b {
  display: none;
}

.select2-container .select2-selection__arrow {
  height: 100% !important;
  width: 38px !important;
}

.select2-container .select2-selection__arrow::before {
  border: none;
  background: url("../img/svg/arrow-select.svg") no-repeat center/cover;
  width: 16px;
  height: 12px;
  -webkit-background-size: contain;
          background-size: contain;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.select2-container .select2-dropdown {
  border: 1px solid #15bef0;
  border-top: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.select2-container .select2-results__option {
  color: #00468b;
  font-family: "pf_din_text_comp_promedium", sans-serif;
}

.checkbox {
  position: relative;
  padding: 7px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #4a4a4a;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: -2;
}

.checkbox__text {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  font-size: 14px;
  font-family: "pf_din_text_comp_prolight", sans-serif;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}

.checkbox__text a {
  color: #15bef0;
  text-decoration: underline;
}

.checkbox__text::before {
  content: '';
  position: absolute;
  height: 17px;
  width: 17px;
  border: 1px solid #15bef0;
  left: 0;
  top: -4px;
}

.checkbox input:checked + .checkbox__text:after {
  position: absolute;
  content: '';
  background: url("../img/svg/ok-cheked.svg") no-repeat center/cover;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 0;
}

.checkbox input:checked ~ .checkbox__text:after {
  position: absolute;
  content: '';
  background: url("../img/svg/ok-cheked.svg") no-repeat center/cover;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 0;
}

body {
  position: relative;
}

body.no-scroll {
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  position: fixed;
}

.btn {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-family: "pf_din_text_comp_proMdIt", sans-serif;
}

.btn_def {
  background-color: #ffd07f;
  color: #00468b;
  font-size: 24px;
  padding: 10px 20px;
  min-width: 240px;
  -webkit-box-shadow: 0px 22px 0px -15px #00468b;
          box-shadow: 0px 22px 0px -15px #00468b;
}

.btn_big {
  position: relative;
  background-color: #ffd07f;
  color: #00468b;
  font-size: 30px;
  min-width: 300px;
  padding: 25px 20px;
  -webkit-transform: skew(-10deg);
      -ms-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-box-shadow: 0px 42px 0px -30px #00468b;
          box-shadow: 0px 42px 0px -30px #00468b;
  overflow: hidden;
}

.btn_big span {
  display: block;
  -webkit-transform: skew(10deg);
      -ms-transform: skew(10deg);
          transform: skew(10deg);
}

.btn_big:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 58%;
  -webkit-transform: translateX(-50%) skew(-20deg);
      -ms-transform: translateX(-50%) skew(-20deg);
          transform: translateX(-50%) skew(-20deg);
  width: 120px;
  background-color: #ffe6a9;
  z-index: -1;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.btn_big:hover:after {
  -webkit-transform: translateX(-50%) skew(-20deg) scale(4);
      -ms-transform: translateX(-50%) skew(-20deg) scale(4);
          transform: translateX(-50%) skew(-20deg) scale(4);
}

.btn_info {
  margin-top: 15px;
  min-width: 240px;
  background-color: #ed1846;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  padding: 15px 25px;
  font-size: 24px;
  text-transform: none;
  font-family: "pf_din_text_comp_proregular", sans-serif;
}

.btn_info:hover {
  color: #ffffff !important;
}

.btn_cook {
  min-width: 105px;
  color: #00468b;
  background-color: #ffd07f;
  font-size: 21px;
  padding: 7px 0;
}

.btn_cook:hover {
  color: #00468b;
}

.btn_abs {
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.btn_min {
  padding: 7px 20px;
  font-size: 14px;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  min-width: 165px;
}

.btn_disable {
  color: #9b9b9b;
  background-color: #ebebeb;
  pointer-events: none;
  -webkit-box-shadow: 0px 22px 0px -15px #9b9b9b;
          box-shadow: 0px 22px 0px -15px #9b9b9b;
}

.btn:hover {
  color: #00468b;
}

.btn:focus {
  color: #00468b;
}

.btn-wrap {
  text-align: center;
  position: relative;
}

.btn-wrap_big {
  display: inline-block;
}

.btn-wrap_big:before {
  content: "";
  position: absolute;
  width: 178px;
  height: 125px;
  background: url("../img/card-5ka.png") no-repeat center center;
  bottom: 35px;
  right: -25px;
}

.btn-wrap_big:after {
  content: "";
  position: absolute;
  top: -60px;
  left: -85%;
  width: 90px;
  height: 90px;
  background: url("../img/logo-5ka.png") no-repeat center center;
}

.btn-wrap_bigMargin {
  margin-top: 35px;
}

.btn-wrap_minMargin {
  margin-top: 25px;
}

.btn-wrap_min {
  margin-top: 5px;
}

.main {
  padding-top: 70px;
  padding-bottom: 90px;
  position: relative;
}

.form-wrap {
  margin-top: 40px;
  position: relative;
  z-index: 1;
}

.form {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
}

.form__globalCard {
  width: 48%;
}

.form--popupMargin {
  margin-top: 20px;
}

.form__tips {
  font-family: "pf_din_text_comp_prolight", sans-serif;
  color: #9b9b9b;
  font-size: 14px;
  margin-bottom: 2px;
  text-align: left;
  width: 100%;
}

.form__tips--medium {
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}

.form__tips--big {
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px;
  color: #4a4a4a;
}

.form__text {
  margin-top: 20px;
  text-align: center;
  color: #4a4a4a;
  font-size: 18px;
  font-family: "pf_din_text_comp_prolight", sans-serif;
}

.form__text--minMargin {
  margin-top: 10px;
}

.form__text--noMargin {
  margin: 0;
}

.form__text p:first-child {
  margin: 0 -15px;
}

.form__name-winner {
  margin-top: 30px;
  color: #00468b;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "pf_din_text_comp_proMdIt", sans-serif;
  line-height: 40px;
}

.form__card {
  margin-top: 20px;
}

.form__card_flex {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.form__input {
  position: relative;
}

.form__input .js-pass {
  position: absolute;
  width: 28px;
  height: 16px;
  top: 19px;
  right: 10px;
  cursor: pointer;
}

.form__input_textarea textarea {
  min-height: 110px;
}

.form__input_little .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 14px;
  padding-right: 15px;
}

.form__input--maxWidth {
  max-width: 240px;
  margin: 0 auto;
}

.form__step {
  text-align: center;
}

.social {
  text-align: center;
  margin-top: 50px;
  position: relative;
}

.social_blue:after {
  display: none;
}

.social_blue .social__text {
  color: #4a4a4a;
}

.social_blue .social__icon a {
  background-color: #00468b;
}

.social:after {
  content: "";
  position: absolute;
  top: -120%;
  left: -37.5%;
  z-index: 1;
  width: 486px;
  height: 226px;
  background: url("../img/coins-winner1.png") no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-animation-name: coins3;
          animation-name: coins3;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.social__text {
  color: #9b9b9b;
  font-family: "pf_din_text_comp_prolight", sans-serif;
  font-size: 16px;
  margin: 0 -15px 0;
}

.social__icon {
  margin-top: 20px;
}

.social__icon li:nth-child(n+2) {
  margin-left: 10px;
}

.social__icon a {
  display: inline-block;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #ffd07f;
  position: relative;
}

.social__icon a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.social__icon a .icon-fb {
  font-size: 20px;
}

.social__icon a .icon-odn,
.social__icon a .icon-insta {
  font-size: 22px;
}

.coins-animate {
  position: relative;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.coins-animate:before {
  content: "";
  position: absolute;
  top: 0;
  left: -60%;
  width: 132px;
  height: 219px;
  background: url("../img/coins-winner3.png") no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-animation-name: coins1;
          animation-name: coins1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}

.coins-animate:after {
  content: "";
  position: absolute;
  top: 20%;
  right: -68%;
  width: 135px;
  height: 229px;
  background: url("../img/coins-winner2.png") no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-animation-name: coins2;
          animation-name: coins2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}

@-webkit-keyframes coins3 {
  0% {
    top: -100%;
  }
  100% {
    top: -120%;
  }
}

@keyframes coins3 {
  0% {
    top: -100%;
  }
  100% {
    top: -120%;
  }
}

@-webkit-keyframes coins1 {
  0% {
    -webkit-transform: rotate(15deg) rotateX(15deg) rotateY(-10deg);
            transform: rotate(15deg) rotateX(15deg) rotateY(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
            transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
  }
}

@keyframes coins1 {
  0% {
    -webkit-transform: rotate(15deg) rotateX(15deg) rotateY(-10deg);
            transform: rotate(15deg) rotateX(15deg) rotateY(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
            transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
  }
}

@-webkit-keyframes coins2 {
  0% {
    right: -55%;
    -webkit-transform: rotateX(30deg);
            transform: rotateX(30deg);
  }
  100% {
    right: -68%;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes coins2 {
  0% {
    right: -55%;
    -webkit-transform: rotateX(30deg);
            transform: rotateX(30deg);
  }
  100% {
    right: -68%;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

input, textarea {
  border: 1px solid #15bef0;
  background-color: #ffffff;
  color: #00468b;
  font-size: 18px;
  font-family: "pf_din_text_comp_promedium", sans-serif;
  padding: 13px 20px;
  width: 100%;
}

::-ms-clear {
  display: none;
}

textarea {
  min-height: 229px;
  overflow: auto;
}

.captcha {
  margin: 20px -30px 10px;
  padding: 15px 35px 20px;
  background-color: #f3f3f3;
}

.captcha_feedback {
  padding: 15px 0 20px;
  margin: 18px 0 0;
}

.captcha_text {
  font-size: 14px;
  color: #9b9b9b;
  font-family: "pf_din_text_comp_prolight", sans-serif;
}

.captcha__img {
  position: relative;
  padding-right: 50px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.captcha__img:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/svg/arrow-captcha.svg") no-repeat center center;
  width: 11px;
  height: 18px;
}

.captcha__wrap {
  margin-top: 10px;
  position: relative;
}

.captcha__input {
  max-width: 120px;
  text-align: center;
}

.captcha__send {
  max-width: 120px;
}

.captcha #captcha-error {
  position: absolute;
  bottom: -18px;
  left: 0;
  right: 0;
  text-align: center;
}

.substrate {
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px 50px 55px;
  position: relative;
  text-align: center;
}

.substrate_mrg {
  margin-bottom: 75px;
}

.substrate--full {
  max-width: 100%;
  padding: 50px;
}

.text {
  text-align: center;
  font-family: "pf_din_text_comp_prolight", sans-serif;
  color: #4a4a4a;
}

.text_minMargin {
  margin-top: 10px;
}

.text_big {
  font-size: 18px;
}

.text_max-w {
  max-width: 340px;
  margin: 5px auto;
}

.text_alignr {
  text-align: right;
  font-size: 14px;
}

.text a {
  text-decoration: underline;
  color: #15bef0;
}

.title {
  color: #00468b;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.table {
  width: 100%;
  border-spacing: 3px;
  font-family: "pf_din_text_comp_prolight", sans-serif;
  color: #4a4a4a;
  font-size: 18px;
}

.table--padding {
  border-spacing: 15px;
}

.table--margin {
  text-align: left;
  border-spacing: 40px;
  margin-top: -30px;
  margin-bottom: -30px;
}

.head-date {
  padding-left: 38px;
}

thead th {
  text-align: center;
  color: #9b9b9b;
  font-size: 14px;
  padding-bottom: 10px;
}

tbody td {
  text-align: center;
}

.conditions {
  position: relative;
  z-index: 1;
}

.conditions_container {
  position: relative;
}

.conditions__img {
  text-align: center;
}

.conditions__info {
  margin-top: 60px;
  text-align: center;
}

.conditions__content {
  text-align: center;
}

.conditions__step {
  margin-bottom: 20px;
}

.conditions__step .swiper-slide {
  text-align: left;
  font-family: "pf_din_text_comp_proLtIt", sans-serif;
  font-size: 21px;
  max-width: 292px;
  width: 100%;
}

.conditions__step .swiper-slide .condition-swipper {
  padding-left: 50px;
  position: relative;
}

.conditions__step .swiper-slide .condition-swipper:before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 45px;
  height: 62px;
  background: url("../img/digits-home.png") no-repeat;
  background-position: 15px 0;
}

.conditions__step .swiper-slide span {
  font-family: "pf_din_text_comp_proMdIt", sans-serif;
}

.conditions__step .swiper-slide + .swiper-slide {
  margin-left: 30px;
}

.conditions__step .swiper-slide + .swiper-slide .condition-swipper:before {
  background-position: 45% 0;
}

.conditions__step .swiper-slide + .swiper-slide + .swiper-slide .condition-swipper:before {
  background-position: 100.5% 0;
}

.conditions__step .swiper-slide + .swiper-slide + .swiper-slide .condition-swipper:after {
  display: none;
}

.condition-text {
  font-family: "pf_din_text_comp_proMdIt", sans-serif;
  font-size: 34px;
  text-transform: uppercase;
}

.condition-text:before {
  content: "";
  position: absolute;
  left: -28px;
  top: 0px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
  outline: none;
  width: 50px;
  height: 50px;
  -webkit-background-size: 12px 20px;
          background-size: 12px 20px;
  top: 50%;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: .6;
}

.condition-pagination {
  display: none;
  bottom: auto !important;
  top: 0;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #ffffff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #00468b;
}

.swiper-button-prev {
  background-image: url("../img/svg/arrow-slider.svg");
  left: 0;
}

.swiper-button-next {
  background-image: url("../img/svg/arrow-slider.svg");
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 0;
}

.section-info {
  padding: 18px 0 30px;
  background-color: #0094ce;
  text-align: center;
  overflow: hidden;
  border-top: 8px solid #ffd07f;
  position: relative;
}

.section-info:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 8px solid #ffd07f;
}

.section-info__wrap {
  position: relative;
}

.section-info__wrap:before {
  content: "";
  position: absolute;
  top: -32px;
  left: 0;
  background: url("../img/sheets-2.png") no-repeat center center;
  width: 162px;
  height: 191px;
  -webkit-background-size: cover;
          background-size: cover;
}

.section-info__wrap:after {
  content: "";
  position: absolute;
  top: -35px;
  right: 0;
  background: url("../img/sheets-3.png") no-repeat center center;
  width: 161px;
  height: 172px;
  -webkit-background-size: cover;
          background-size: cover;
}

.section-info-inner {
  font-family: "pf_din_text_comp_proregular", sans-serif;
  position: relative;
  z-index: 1;
}

.section-info-inner:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -95px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: url("../img/sheets-1.png") no-repeat center center;
  height: 131px;
  width: 400px;
  -webkit-background-size: contain;
          background-size: contain;
}

.section-info-inner__text {
  font-size: 21px;
}

.section-info-inner__text_line {
  display: inline;
}

.container-img {
  position: relative;
}

.container-img_first:before {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: -295px;
  left: -80px;
  background: url("../img/coins1.png") no-repeat center center;
  width: 520px;
  height: 1075px;
  -webkit-background-size: contain;
          background-size: contain;
}

.container-img_first:after {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: -360px;
  right: -80px;
  background: url("../img/coins2.png") no-repeat center center;
  width: 520px;
  height: 900px;
  -webkit-background-size: contain;
          background-size: contain;
}

.container-img_second:before {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: -230px;
  left: -80px;
  background: url("../img/coins3.png") no-repeat center center;
  width: 412px;
  height: 915px;
  -webkit-background-size: contain;
          background-size: contain;
}

.container-img_second:after {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: -310px;
  right: -80px;
  background: url("../img/coins4.png") no-repeat center center;
  width: 676px;
  height: 950px;
  -webkit-background-size: contain;
          background-size: contain;
}

.container-img_third:before {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: -80px;
  left: -80px;
  background: url("../img/coins-opacity1.png") no-repeat center center;
  width: 350px;
  height: 720px;
  -webkit-background-size: contain;
          background-size: contain;
}

.container-img_third:after {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: -400px;
  right: -80px;
  background: url("../img/coins-opacity2.png") no-repeat center center;
  width: 330px;
  height: 1154px;
  -webkit-background-size: contain;
          background-size: contain;
}

.container-img_first-feedback:before {
  bottom: 40px;
}

.container-img_first-feedback:after {
  bottom: 0;
}

.container-img_second-feedback:before {
  bottom: 35px;
}

.container-img_second-feedback:after {
  bottom: 35px;
}

.container-img_second-feedback:before {
  bottom: -10px;
}

.container-img_second-feedback:after {
  bottom: -15px;
}

.container-img_first-product:before {
  bottom: 50%;
  -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
          transform: translateY(30%);
}

.container-img_first-product:after {
  bottom: 50%;
  -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
          transform: translateY(30%);
}

.container-img_second-product:before {
  bottom: 50%;
  -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
          transform: translateY(30%);
}

.container-img_second-product:after {
  bottom: 50%;
  -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
          transform: translateY(30%);
}

.container-img_third-product:before {
  bottom: 50%;
  -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
          transform: translateY(30%);
}

.container-img_third-product:after {
  bottom: 50%;
  -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
          transform: translateY(30%);
}

.feedback {
  position: relative;
  z-index: 1;
}

.container_little {
  max-width: 780px;
}

.personal-info {
  position: relative;
  z-index: 1;
}

.personal-wrap__name {
  margin-bottom: 15px;
}

.personal-wrap__table {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 430px;
}

.personal-wrap .table th {
  text-align: left;
  width: 30%;
  position: relative;
  top: 30px;
}

.personal-wrap .table th:nth-child(2) {
  width: 39%;
}

.personal-wrap .table td {
  text-align: left;
}

.personal-wrap .personal-date p {
  padding-left: 20px;
  position: relative;
}

.personal-wrap .personal-date p:before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 0;
  width: 14px;
  height: 14px;
  background: url("../img/svg/calendar.svg") no-repeat center center;
}

.personal-wrap .personal-date p:last-child:before {
  background: url("../img/svg/clock.svg") no-repeat center center;
}

.personal-wrap .personal-status__wrap {
  padding-left: 50px;
  margin-left: -50px;
  position: relative;
}

.personal-wrap .personal-status__wrap:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 36px;
  height: 39px;
  background: url("../img/coins-table.png") no-repeat center center;
}

.personal-wrap .personal-status__wrap_err:before {
  background: url("../img/svg/emoji.svg") no-repeat center center;
}

.personal-wrap .personal-text_blod {
  font-family: "pf_din_text_comp_promedium", sans-serif;
}

.personal-wrap .gift_empty {
  color: #b2b2b2;
}

.personal-name {
  font-family: "pf_din_text_comp_promedium", sans-serif;
  font-size: 34px;
}

.personal-info-wrap {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.personal-card {
  padding-left: 70px;
  position: relative;
  margin-top: 20px;
}

.personal-card__text {
  font-family: "pf_din_text_comp_prolight", sans-serif;
  font-size: 14px;
}

.personal-card__nomber {
  margin-top: 2px;
  font-family: "pf_din_text_comp_promedium", sans-serif;
  font-size: 21px;
}

.personal-card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/card-little.png") no-repeat center center;
  width: 60px;
  height: 36px;
}

.personal-exit .personal-area__exit-btn {
  font-size: 18px;
  text-transform: uppercase;
}

.winners {
  position: relative;
  z-index: 1;
}

.winners__table {
  height: 284px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 30px;
}

.regulations {
  position: relative;
  z-index: 1;
}

.regulations-text {
  color: #4a4a4a;
  font-family: "pf_din_text_comp_prolight", sans-serif;
  font-size: 21px;
  margin-bottom: 120px;
}

.regulations-text li {
  position: relative;
  margin-top: 55px;
  text-align: left;
  padding-left: 150px;
  margin-left: 50px;
}

.regulations-text li:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 94px;
  height: 60px;
  background: url("../img/stock-sprate.png") no-repeat;
  background-position: 0 0;
}

.regulations-text li + li {
  margin-left: 85px;
}

.regulations-text li + li:before {
  width: 107px;
  height: 50px;
  background-position: -22px -91px;
}

.regulations-text li + li + li {
  margin-left: 100px;
  margin-top: 70px;
}

.regulations-text li + li + li:before {
  top: -20px;
  width: 116px;
  height: 63px;
  background-position: -45px -185px;
}

.regulations-text_link {
  color: #15bef0;
  text-decoration: underline;
}

.regulations-text_link:hover {
  color: #15bef0;
  text-decoration: underline;
}

.regulations-nomber {
  position: absolute;
  top: 50%;
  left: 60px;
  margin-top: -28px;
  width: 58px;
  background-color: #15bef0;
  -webkit-transform: skew(-10deg);
      -ms-transform: skew(-10deg);
          transform: skew(-10deg);
}

.regulations-nomber span {
  text-align: center;
  font-size: 50px;
  font-family: "pf_din_text_comp_proBdIt", sans-serif;
  display: block;
  -webkit-transform: skew(10deg);
      -ms-transform: skew(10deg);
          transform: skew(10deg);
  color: #ffffff;
}

.regulations-img {
  max-height: 170px;
}

.regulations-about {
  margin-bottom: 80px;
}

.regulations-about__box {
  width: 33%;
}

.regulations-about__box:nth-child(n+2) {
  margin-left: 30px;
}

.regulations-about-text {
  color: #4a4a4a;
  font-family: "pf_din_text_comp_prolight", sans-serif;
  font-size: 18px;
  margin-top: 20px;
}

.regulations-about-text_blod {
  font-family: "pf_din_text_comp_proMdIt", sans-serif;
}

.regulations-questions-text {
  margin-top: 10px;
  color: #4a4a4a;
  font-family: "pf_din_text_comp_prolight", sans-serif;
  font-size: 18px;
}

.product {
  position: relative;
  z-index: 1;
}

.product-slider {
  margin-top: 40px;
  width: 95%;
}

.product-item__text {
  margin-top: 10px;
  color: #15bef0;
  font-size: 21px;
  text-transform: uppercase;
}

.product-item__text_weight {
  color: #4a4a4a;
  font-family: "Roboto", sans-serif;
  text-transform: none;
  font-size: 16px;
  margin-top: 10px;
}

.product-btn {
  background-color: #ffd07f;
  -webkit-background-size: 20px 30px;
          background-size: 20px 30px;
  width: 55px;
  height: 78px;
  -webkit-transform: skew(-10deg) rotate(180deg);
      -ms-transform: skew(-10deg) rotate(180deg);
          transform: skew(-10deg) rotate(180deg);
  display: block;
  -webkit-box-shadow: -3px -6px 0px 0px #00468b;
          box-shadow: -3px -6px 0px 0px #00468b;
  top: 35%;
  right: -20px;
}

.product-btn + .product-btn {
  -webkit-transform: skew(-10deg);
      -ms-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-box-shadow: 3px 6px 0px 0px #00468b;
          box-shadow: 3px 6px 0px 0px #00468b;
  left: -20px;
}

.product-pagination {
  margin-top: 65px;
  display: block;
  position: static;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #15bef0;
  background-color: #ffffff;
}

.swiper-pagination-bullet-active {
  background-color: #00468b;
  border: 1px solid #00468b;
}

.scroll-element.scroll-x.scroll-scrollx_visible.scroll-scrolly_visible {
  display: none;
}

.winners__table > .scroll-element,
.winners__table > .scroll-element div,
.personal-wrap__table > .scroll-element,
.personal-wrap__table > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 5;
}

.winners__table > .scroll-element div,
.personal-wrap__table > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.winners__table > .scroll-element.scroll-x,
.personal-wrap__table > .scroll-element.scroll-x {
  bottom: 2px;
  height: 8px;
  left: 0;
  width: 100%;
  display: none !important;
}

.winners__table > .scroll-element.scroll-y,
.personal-wrap__table > .scroll-element.scroll-y {
  height: 100%;
  right: 2px;
  top: 0;
  width: 8px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.winners__table > .scroll-element .scroll-element_outer,
.personal-wrap__table > .scroll-element .scroll-element_outer {
  overflow: hidden;
}

.winners__table > .scroll-element .scroll-element_outer,
.winners__table > .scroll-element .scroll-element_track,
.winners__table > .scroll-element .scroll-bar,
.personal-wrap__table > .scroll-element .scroll-element_outer,
.personal-wrap__table > .scroll-element .scroll-element_track,
.personal-wrap__table > .scroll-element .scroll-bar {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.winners__table > .scroll-element .scroll-element_track,
.personal-wrap__table > .scroll-element .scroll-element_track {
  background: #9b9b9b;
}

.winners__table > .scroll-element .scroll-bar,
.personal-wrap__table > .scroll-element .scroll-bar {
  background-color: #00468b;
}

.winners__table > .scroll-element:hover .scroll-bar,
.personal-wrap__table > .scroll-element:hover .scroll-bar {
  background-color: #00468b;
}

.winners__table > .scroll-element.scroll-draggable .scroll-bar,
.personal-wrap__table > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #00468b;
}

.winners__table > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track,
.personal-wrap__table > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -12px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.winners__table > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track,
.personal-wrap__table > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -12px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.winners__table > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size,
.personal-wrap__table > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -12px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.winners__table > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size,
.personal-wrap__table > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -12px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

@media only screen and (max-width: 992px) {
  .nav__link {
    font-size: 16px;
  }
  .nav__link + .nav__link {
    margin-left: 10px;
  }
  .logo {
    margin: -38px 10px;
  }
  .personal-area {
    font-size: 16px;
    margin-left: 10px;
  }
  .conditions__info {
    margin-top: 30px;
  }
  .conditions__content {
    width: 52%;
    padding: 30px 30px 0;
  }
  .conditions__step {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .conditions__step .swiper-slide {
    max-width: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .conditions__step .swiper-slide .condition-swipper {
    padding-left: 80px;
  }
  .conditions__step .swiper-slide .condition-swipper:before {
    left: 30px;
  }
  .conditions__step .swiper-slide + .swiper-slide {
    margin-left: 0;
  }
  .condition-btn {
    display: block;
    margin-top: -25px;
  }
  .condition-pagination {
    display: block;
  }
  .condition-text + p {
    max-width: 200px;
  }
  .btn-wrap_big {
    margin-top: 65px;
  }
  .btn-wrap_big:after {
    display: none;
  }
  .container-img_first:after {
    bottom: 630px;
    left: -2%;
    background: url("../img/coinMob1.png") no-repeat center center;
    width: 114px;
    height: 73px;
  }
  .container-img_first:before {
    display: none;
  }
  .container-img_second:after {
    bottom: 100px;
    left: 0%;
    background: url("../img/coinMob2.png") no-repeat center center;
    width: 104px;
    height: 93px;
  }
  .container-img_second:before {
    display: none;
  }
  .container-img_third:after {
    bottom: 620px;
    right: -5%;
    background: url("../img/coinMob3.png") no-repeat center center;
    width: 119px;
    height: 121px;
  }
  .container-img_third:before {
    display: none;
  }
  .container-img_second-feedback {
    display: none;
  }
  .container-img_first-feedback:after {
    bottom: 680px;
    left: 85%;
  }
  .container-img_third-feedback:after {
    bottom: 615px;
    right: 85%;
  }
  .container-img_first-regulations:after {
    bottom: 875px;
  }
  .container-img_third-regulations:after {
    bottom: 835px;
  }
  .container-img_first-product:after {
    bottom: 515px;
  }
  .container-img_third-product:after {
    bottom: 500px;
  }
  .substrate_mrg {
    margin-bottom: 80px;
  }
  .substrate:before {
    top: -86px;
    left: -35px;
    width: 215px;
    height: 200px;
    background: url("../img/berries.png") no-repeat center center;
  }
  .substrate:after {
    display: none;
  }
  .product-btn {
    right: -3px;
  }
  .product-btn + .product-btn {
    left: -3px;
  }
  .product-pagination {
    margin-top: 65px;
  }
}

@media only screen and (max-width: 768px) {
  .conditions__content {
    width: 100%;
  }
  .section-info__wrap:before {
    display: none;
  }
  .section-info__wrap:after {
    display: none;
  }
  .substrate {
    padding: 35px 10px 40px;
  }
  .nav {
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: #00468b;
    padding: 90px 0 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    text-align: center;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    -o-transition: transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
  }
  .nav__link {
    font-size: 21px;
    padding: 15px 0;
  }
  .nav__link + .nav__link {
    margin-left: 0;
  }
  .nav .logo {
    display: none;
  }
  .nav.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .personal-area-photo {
    display: block;
    visibility: hidden;
  }
  .personal-area-photo.login-photo {
    visibility: visible;
  }
  .bg-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 70, 139, 0.7);
    display: none;
  }
  .bg-fixed_active {
    display: block;
  }
  .logo_mob {
    margin: -40px 0 5px;
    display: block;
    position: relative;
    z-index: 1;
  }
  .logo_mob .icon-dobr-logo {
    margin-bottom: -50px;
  }
  .container-info__score {
    display: block;
  }
  .personal-area {
    margin: 40px auto 20px;
    padding: 15px 0;
    width: 70%;
  }
  .personal-area__photo {
    display: block;
    position: relative;
    margin-right: 10px;
  }
  .personal-area__photo_icon {
    font-size: 26px;
  }
  .personal-area__photo_icon:before {
    color: #ffffff;
  }
  .personal-area__text {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 12px 20px;
    -webkit-transform: skew(0deg);
        -ms-transform: skew(0deg);
            transform: skew(0deg);
  }
  .personal-area__text p {
    -webkit-transform: skew(0deg);
        -ms-transform: skew(0deg);
            transform: skew(0deg);
  }
  .personal-area__no-entry {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .personal-area.login .personal-area__entry {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .personal-area.login .personal-area__text {
    background-color: #00468b;
  }
  .personal-area.login .personal-area__text p:first-child {
    display: none;
  }
  .personal-area.login .personal-area__text .personal-area-name {
    color: #ffffff;
    display: block;
  }
  .personal-area__info {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5px;
  }
  .personal-area:hover .personal-area__text {
    background-color: #ffd07f;
  }
  .personal-area:hover .personal-area__text p {
    color: #00468b;
  }
  .personal-area:hover.login .personal-area__text p {
    color: #00468b;
  }
  .header {
    position: relative;
    padding: 10px 0;
  }
  .header__burger {
    position: relative;
    z-index: 2;
    display: block;
    cursor: pointer;
    width: 25px;
    height: 35px;
  }
  .header__burger img {
    position: relative;
  }
  .header__burger .js-show {
    opacity: 1;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    position: static;
  }
  .header__burger .js-exit {
    position: absolute;
    opacity: 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    top: 0;
  }
  .header__burger.active .js-show {
    opacity: 0;
    position: absolute;
    top: 0;
  }
  .header__burger.active .js-exit {
    top: 0;
    position: static;
    opacity: 1;
  }
  .header__logoMini {
    display: block;
  }
  .header__logoMini + .header__logoMini {
    margin-left: 15px;
  }
  .conditions_container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .conditions__info {
    width: 100%;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
  }
  .rules-swiper {
    overflow: hidden;
  }
  .slide-rules__photo {
    padding: 0;
  }
  .slide-rules__title {
    font-size: 22px;
    max-width: 340px;
  }
  .slide-rules__text {
    font-size: 16px;
  }
  .container-img_first-feedback:after {
    bottom: 675px;
    left: 85%;
  }
  .container-img_third-feedback:after {
    bottom: 600px;
    right: 85%;
  }
  .container-img_first-regulations:after {
    bottom: 1050px;
  }
  .container-img_third-regulations:after {
    bottom: 1010px;
  }
  .container-img_first-product:after {
    bottom: 570px;
  }
  .container-img_third-product:after {
    bottom: 550px;
  }
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav li + li {
    margin-left: 0;
    margin-top: 15px;
  }
  .footer__nav li:before {
    top: -8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .btn--def {
    min-width: 250px;
  }
  .personal-info .table th {
    width: 56%;
    font-size: 12px;
  }
  .personal-info .table th:nth-child(2) {
    width: 56%;
  }
  .personal-info .table .table__personal {
    font-size: 16px;
  }
  .personal-info .btn_min {
    min-width: 130px;
  }
  .rejected a:after {
    width: 18px;
    height: 18px;
  }
  .personal-name {
    font-size: 36px;
    line-height: 36px;
  }
  .captcha {
    margin: 20px -10px 0;
    padding: 15px 20px 20px;
  }
  .cookies__text {
    width: 100%;
  }
  .regulations-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
  }
  .regulations-text li {
    margin-left: 10px;
    padding-left: 90px;
    max-width: 380px;
    width: 100%;
  }
  .regulations-text li:before {
    top: -13px;
    left: -8px;
    width: 60px;
    height: 63px;
    background: url("../img/mob-stock-sprite.png") no-repeat;
  }
  .regulations-text li + li {
    margin-left: 10px;
  }
  .regulations-text li + li:before {
    top: -10px;
    left: -11px;
    width: 65px;
    background-position: 2px -90px;
  }
  .regulations-text li + li + li {
    margin-left: 10px;
    margin-top: 70px;
  }
  .regulations-text li + li + li:before {
    top: -30px;
    left: -8px;
    width: 55px;
    height: 57px;
    background-position: -3px -178px;
  }
  .regulations-text li + li + li .regulations-nomber {
    top: 50%;
    margin-top: -28px;
  }
  .regulations-nomber {
    left: 10px;
    top: 0;
    margin-top: 0;
  }
  .regulations-about {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
  .regulations-about__box {
    width: 42%;
  }
  .regulations-about__box:last-child {
    margin-top: 30px;
    margin-left: 0;
  }
  .product-btn {
    -webkit-transform: skew(-10deg) rotate(180deg) scale(0.6);
        -ms-transform: skew(-10deg) rotate(180deg) scale(0.6);
            transform: skew(-10deg) rotate(180deg) scale(0.6);
  }
  .product-btn + .product-btn {
    -webkit-transform: skew(-10deg) scale(0.6);
        -ms-transform: skew(-10deg) scale(0.6);
            transform: skew(-10deg) scale(0.6);
  }
}

@media only screen and (max-width: 479px) {
  .conditions__step .swiper-slide .condition-swipper {
    padding-left: 50px;
  }
  .conditions__step .swiper-slide .condition-swipper:before {
    left: 0;
  }
  .section-info-inner:after {
    bottom: -75px;
  }
  .section-info-inner__text_line {
    display: block;
  }
  .social-text__line {
    display: block;
  }
  .condition-text {
    font-size: 28px;
  }
  .btn_big {
    min-width: 280px;
    -webkit-box-shadow: 0 170px 0px 130px #00468b;
            box-shadow: 0 170px 0px 130px #00468b;
  }
  .btn_def {
    min-width: 240px;
  }
  .section-rules__container {
    padding-bottom: 50px;
  }
  .slide-rules__photo_winners {
    height: 150px;
  }
  .slide-rules__title {
    font-size: 16px;
  }
  .slide-rules__text {
    font-size: 16px;
  }
  .rules .btn-wrap {
    margin-top: 50px;
  }
  .title {
    font-size: 24px;
  }
  .winners__table {
    height: 405px;
    margin: 30px -10px 0;
  }
  .winners .form__card {
    margin-top: 0;
  }
  .winners .table tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .winners .table .head-name {
    width: 50%;
    text-align: left;
    display: block;
  }
  .winners .table .head-phone {
    display: none;
  }
  .winners .table .head-date {
    width: 50%;
    text-align: right;
    display: block;
  }
  .winners .table .win-name {
    width: 50%;
    text-align: left;
    margin-bottom: 30px;
    display: block;
  }
  .winners .table .td_abs {
    position: absolute;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 65%;
  }
  .winners .table .win-nomber {
    width: 100%;
    left: 0;
    text-align: left;
  }
  .winners .table .win-date {
    width: 50%;
    text-align: right;
    display: block;
  }
  tbody tr {
    position: relative;
    padding: 5px 0 10px;
  }
  tbody tr:nth-child(even) {
    position: relative;
    z-index: 1;
  }
  tbody tr:nth-child(even):after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    width: 110%;
    left: -15px;
    right: 0;
    background-color: #f5f5f5;
  }
  .form {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .form__globalCard {
    width: 100%;
  }
  .form-wrap {
    margin-top: 0;
  }
  .container-img_first-feedback:after {
    bottom: 900px;
    left: 70%;
  }
  .container-img_third-feedback:after {
    bottom: 845px;
    right: 75%;
  }
  .container-img_first-winners:after {
    bottom: 790px;
    left: 70%;
  }
  .container-img_third-winners:after {
    bottom: 730px;
  }
  .container-img_first-personal:after {
    bottom: 685px;
  }
  .container-img_third-personal:after {
    bottom: 645px;
    right: 75%;
  }
  .container-img_first-regulations:after {
    bottom: 1200px;
  }
  .container-img_third-regulations:after {
    bottom: 1210px;
  }
  .container-img_first-product:after {
    bottom: 525px;
  }
  .container-img_third-product:after {
    bottom: 515px;
  }
  .personal-info .personal-wrap__table {
    margin: 0 -10px;
  }
  .personal-info .table {
    margin-top: -10px;
  }
  .personal-info .table__personal {
    padding: 15px 0 25px;
  }
  .personal-info .table__personal td {
    padding: 0;
    font-size: 18px;
  }
  .personal-info .table__personal:nth-child(even):after {
    width: 130%;
    left: -30px;
  }
  .personal-info .table thead {
    display: none;
  }
  .personal-info .table tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .personal-info td {
    display: block;
  }
  .personal-info .personal-date {
    margin-bottom: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .personal-info .personal-date p:first-child {
    margin-right: 10px;
  }
  .personal-info .personal-status__wrap {
    margin-left: -18px;
  }
  .gift {
    text-align: left;
    font-size: 16px;
    margin-top: 10px;
  }
  .popup {
    padding: 0 10px;
  }
  .popup__wrap {
    top: 80px;
  }
  .regulations-text {
    font-size: 18px;
    margin-bottom: 80px;
  }
  .regulations-text li {
    margin-top: 45px;
  }
  .regulations-text li + li + li {
    margin-top: 60px;
  }
  .regulations-about {
    margin-bottom: 60px;
  }
  .regulations-about__box {
    width: 70%;
  }
  .regulations-about__box:nth-child(n+2) {
    margin-left: 0;
    margin-top: 45px;
  }
  .regulations-about-text {
    margin-top: 10px;
  }
  .product-slider {
    margin-top: 20px;
  }
  .product-pagination {
    margin-top: 35px;
  }
  .reg-winner .popup__wrap {
    padding: 20px 30px 40px;
    max-width: 300px;
  }
  .reg-winner .popup__wrap:before {
    display: none;
  }
  .reg-winner .popup__wrap:after {
    display: none;
  }
  .form .social:after {
    display: none;
  }
  .coins-animate:before {
    display: none;
  }
  .coins-animate:after {
    display: none;
  }
}
