<header class="header">
    <div class="container">
        <div class="header__wrap">
            <a class="header__burger" href="#">
                <span class="icon-mob-menu"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
            </a>
            <nav class="nav">
                <a class="nav__link active" href="index.html">на охоту!</a> <!-- Active link - .active -->
                <a class="nav__link" href="product.html">печенье орео</a>
                <a class="nav__link" href="winners.html">победители</a>
                <a class="nav__link" href="feedback.html">связаться с нами</a>
                <a class="logo" href="#">
                    <img src="img/oreo-logo.png" alt="">
				</a>
				<a class="nav__link" href="regulations.html">как участвовать?</a>
				<div class="personal-area">
					<!-- Для залогиненого юзера добавить класс - .login -->
					<div class="personal-area__no-entry js-popup-button" data-popupShow="entrance">
						<div class="personal-area__photo">
							<span class="icon-Combined_Shape personal-area__photo_icon"></span>
						</div>
						<div class="personal-area__text personal-area__text_hover">
							<p>Личный кабинет</p>
						</div>
					</div>
					<div class="personal-area__entry">
						<div class="personal-area__info flex-cont justify-fe">
							<div class="personal-area__photo">
								<span class="icon-Combined_Shape personal-area__photo_icon"></span>
							</div>
							<div class="personal-area__text personal-area__text_hover">
								<p>мой кабинет</p>
								<p class="personal-area-name">Олег Кабинет Кабинет</p>
							</div>
						</div>
					</div>
				</div>
				<div class="container-info__score">
					<div class="score-logo">
						<img src="img/logo-5ka.png" alt="">
					</div>
				</div>
            </nav>
            <a class="logo logo_mob" href="#">
                <img src="img/oreo-logo.png" alt="">
			</a>
			<div class="personal-area-photo">
				<!-- Для залогиненого юзера добавить класс - .login-photo -->
				<span class="icon-Combined_Shape personal-area-photo_icon"></span>
			</div>
			<div class="bg-fixed"></div>
        </div>
    </div>
</header>