<!-- Cookies -->
<div class="cookies">
    <div class="container">
        <div class="cookies__text">
            <p>Мы используем технологию «cookies», чтобы упростить навигацию на нашем сайте. Чтобы принять политику
                “сookies” нажимите кнопку ниже или продолжите навигацию по сайту. Чтобы узнать больше о том, как мы
                используем “сookies”, <a href="#">нажмите здесь</a></p>
        </div>
        <a href="#" class="btn btn_cook">Хорошо</a>
    </div>
</div>

<!-- Popup -->
<div class="popup entrance">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
            <span class="icon-close-btn"></span>
        </div>
        <div class="title">
            <span>Войти на сайт</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Номер мобильного телефона</span>
                    </div>
                    <div class="form__input">
                        <input type="tel" name="phone">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Пароль</span>
                    </div>
                    <div class="form__input">
                        <i class="js-pass">
                            <span id="open-eye" class="icon-show_password"></span>
                            <span id="close-eye" class="icon-Hide_password"><span class="path1"></span><span class="path2"></span></span>
                        </i>
                        <input type="password" name="password">
                    </div>
                </div>
                <div class="text text_alignr">
                    <a href="#">Забыл пароль?</a>
                </div>
                <div class="btn-wrap btn-wrap_minMargin">
                    <button type="submit" class="btn btn_def btn_disable" disabled="disabled">Войти</button>
                </div>
                <div class="form__text">
                    <p>Впервые на сайте?</p>
                    <div class="text">
                        <a href="#" class="js-popup-button" data-popupShow="reg-step-1">Регистрируйся!</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> <!--Актиный попап - .js-popup-show-->

<div class="popup reg-step-1">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
            <span class="icon-close-btn"></span>
        </div>
        <div class="title">
            <span>Зарегистрироваться</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__text form__text--minMargin ">
                    <p>Заполни, пожалуйста, все поля формы регистрации</p>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Фамилия</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="surname">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Имя</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="name">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Номер мобильного телефона</span>
                    </div>
                    <div class="form__input">
                        <input type="tel" name="phone">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Номер Выручай-карты (16 цифр)</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="secondname">
                    </div>
                </div>
                <div class="form__card">
                    <label class="checkbox">
                        <input type="checkbox" name="rules" required/>
                        <div class="checkbox__text">Я согласен c <a href="#">Правилами акции</a></div>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="personalAgreement" required/>
                        <div class="checkbox__text">Я согласен на обработку моих персональных данных</div>
                    </label>
                </div>
                <div class="captcha">
                    <div class="form__text form__text--noMargin captcha_text">
                        <p>Введи символы с картинки:</p>
                    </div>
                    <div class="captcha__wrap flex-cont align-center justify-sb">
                        <div class="captcha__img flex-cont align-c">
                            <img src="img/nomber_captcha.jpg" alt="">
                        </div>
                        <div class="captcha__send">
                            <input class="captcha__input" type="text" name="captcha">
                        </div>
                    </div>
                </div>
                <div class="btn-wrap btn-wrap_minMargin">
                    <button type="submit" class="btn btn_def btn_disable" disabled="disabled">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup reg-step-2">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
            <span class="icon-close-btn"></span>
        </div>
        <div class="title">
            <span>Завершение регистрации</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__text form__text--minMargin ">
                    <p>Финальный шаг! Пожалуйста, введи пароль, который мы отправили на твой телефон по смс.</p>
                </div>
                <div class="form__card">
					<div class="form__tips">
                        <span>Пароль из СМС</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="password">
                    </div>
                </div>
                <div class="btn-wrap btn-wrap_minMargin">
                    <button type="submit" class="btn btn_def btn_pop btn_disable" disabled="disabled">Отправить</button>
				</div>
				<div class="form__text">
                    <div class="text">
                        <a href="#">Запросить повторно!</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup reg-winner">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
            <span class="icon-close-btn"></span>
        </div>
        <div class="title">
            <span>У НАС ЕСТЬ ПОБЕДИТЕЛЬ!</span>
        </div>
        <div class="form form--popupMargin coins-animate">
			<div class="form__text form__text--minMargin ">
				<p>Ура! Охота на миллион закончена! Счастливым обладателем Главного Приза становится</p>
				<p class="form__name-winner">Ариадна Замоскворецкая!</p>
			</div>
			<div class="btn-wrap btn-wrap_minMargin">
				<a href="#" class="btn btn_def">ХОРОШО</a>
			</div>
			<div class="social">
				<p class="social__text">Охота на миллион подошла к концу, но впереди еще много акций! Подписывайся на нас в социальных сетях, чтобы не упустить ничего интересного!</p>
				<ul class="social__icon flex-cont justify-c">
					<li><a href="#"><span class="icon-vk"></span></a></li>
					<li><a href="#"><span class="icon-fb"></span></a></li>
					<li><a href="#"><span class="icon-odn"></span></a></li>
					<li><a href="#"><span class="icon-insta"></span></a></li>
				</ul>		
			</div>		
		</div>
    </div>
</div>

<div class="popup check-moderation">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
            <span class="icon-close-btn"></span>
        </div>
        <div class="title">
            <span>БАЛЛЫ В ПУТИ</span>
        </div>
        <div class="popup__text popup__text--marginTop popup__text_color-w">
			<div class="popup__text_img">
				<img src="img/coins-table.png" alt="">
			</div>
            <span>2 000 баллов будут начислены на твою Выручай-карту в течение двух недель после окончания розыгрыша</span>
        </div>
        <div class="btn-wrap btn-wrap_minMargin">
            <button type="submit" class="btn btn_def">хорошо</button>
        </div>
    </div>
</div>

<div class="popup check-successful">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
            <span class="icon-close-btn"></span>
        </div>
        <div class="title">
            <span>Поздравляем!</span>
        </div>
        <div class="popup__text popup__text--marginTop popup__text_color-w">
            <span>2 000 баллов на Выручай-карту — твои! Загляни в свой <a href="#">Личный кабинет.</a></span>
        </div>
        <div class="btn-wrap btn-wrap_minMargin">
            <button type="submit" class="btn btn_def" disabled="disabled">хорошо</button>
        </div>
        <div class="social social_blue">
			<p class="social__text">Поделиться радостью с друзьями:</p>
			<ul class="social__icon flex-cont justify-c">
				<li><a href="#"><span class="icon-vk"></span></a></li>
				<li><a href="#"><span class="icon-fb"></span></a></li>
				<li><a href="#"><span class="icon-odn"></span></a></li>
				<li><a href="#"><span class="icon-insta"></span></a></li>
			</ul>		
		</div>	
    </div>
</div>