// Body BG -----------------
body {
    position: relative;

    &.no-scroll {
        overflow: hidden !important;
        height: 100%;
        width: 100%;
        position: fixed;
    }
}

// Button ---------------------
.btn {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-family: $fontPFDinMI;

    &_def {
        background-color: $btnDefBg;
        color: $blueColor;
        font-size: 24px;
        padding: 10px 20px;
        min-width: 240px;
        box-shadow: 0px 22px 0px -15px $blueColor;
    }

    &_big {
        position: relative;
        background-color: $btnDefBg;
        color: $blueColor;
        font-size: 30px;
        min-width: 300px;
        padding: 25px 20px;
        transform: skew(-10deg);
        box-shadow: 0px 42px 0px -30px $blueColor;
        overflow: hidden;

        span {
            display: block;
            transform: skew(10deg);
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 58%;
            transform: translateX(-50%) skew(-20deg);
            width: 120px;
            background-color: $btnLineBg;
            z-index: -1;
            transition: all .2s ease;
        }


        &:hover:after {
            transform: translateX(-50%) skew(-20deg) scale(4.0);
        }
	}
	
	&_info {
		margin-top: 15px;
		min-width: 240px;
		background-color: #ed1846;
		border-radius: 25px;
		padding: 15px 25px;
		font-size: 24px;
		text-transform: none;
		font-family: $fontPFDinR;

		&:hover {
			color: $whiteColor !important;
		}
	}

    &_cook {
        min-width: 105px;
        color: $blueColor;
        background-color: $activeItemMenu;
        font-size: 21px;
        padding: 7px 0;

        &:hover {
            color: $blueColor;
        }
    }

    &_abs {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    &_min {
        padding: 7px 20px;
        font-size: 14px;
        border-radius: 16px;
        min-width: 165px;
    }

    &_disable {
        color: $grayColor2;
        background-color: #ebebeb;
        pointer-events: none;
        box-shadow: 0px 22px 0px -15px $grayColor2;
    }

    &:hover {
        color: $blueColor;
    }

    &:focus {
        color: $blueColor;
    }
}

.btn-wrap {
    text-align: center;
    position: relative;

    &_big {
        display: inline-block;

        &:before {
            content: "";
            position: absolute;
            width: 178px;
            height: 125px;
            background: url("../img/card-5ka.png") no-repeat center center;
            bottom: 35px;
            right: -25px;
        }

        &:after {
            content: "";
            position: absolute;
            top: -60px;
            left: -85%;
            width: 90px;
            height: 90px;
            background: url("../img/logo-5ka.png") no-repeat center center;
        }
    }

    &_bigMargin {
        margin-top: 35px;
    }

    &_minMargin {
        margin-top: 25px;
    }

    &_min {
        margin-top: 5px;
    }
}

// Main ------------------------
.main {
    padding-top: 70px;
    padding-bottom: 90px;
    position: relative;
}

// Form ---------------------
.form-wrap {
    margin-top: 40px;
    position: relative;
    z-index: 1;
}

.form {
    max-width: 680px;
    width: 100%;
    margin: 0 auto;

    &__globalCard {
        width: 48%;
    }

    &--popupMargin {
        margin-top: 20px;
    }

    &__tips {
        font-family: $fontPFDinL;
        color: $grayColor2;
        font-size: 14px;
        margin-bottom: 2px;
        text-align: left;
        width: 100%;

        &--medium {
            font-size: 16px;
            text-align: center;
            margin-bottom: 5px;
        }

        &--big {
            font-size: 18px;
            text-align: center;
            margin-bottom: 5px;
            color: $grayColor1;
        }
    }

    &__text {
        margin-top: 20px;
		text-align: center;
		color: $grayColor1;
		font-size: 18px;
		font-family: $fontPFDinL;

        &--minMargin {
            margin-top: 10px;
        }

        &--noMargin {
            margin: 0;
		}
		
		p:first-child {
			margin: 0 -15px;
		}
	}
	
	&__name-winner {
		margin-top: 30px;
		color: $blueColor;
		font-size: 40px;
		text-transform: uppercase;
		font-family: $fontPFDinMI;
		line-height: 40px;
	}

    &__card {
        margin-top: 20px;

        &_flex {
            flex-wrap: wrap;
        }
    }

    &__input {
        position: relative;

        .js-pass {
            position: absolute;
            width: 28px;
            height: 16px;
            top: 19px;
            right: 10px;
            cursor: pointer;
        }

        &_textarea {
            textarea {
                min-height: 110px;
            }
        }

        &_little {
            .select2-container--default .select2-selection--single .select2-selection__rendered {
                font-size: 14px;
                padding-right: 15px;
            }
        }

        &--maxWidth {
            max-width: 240px;
            margin: 0 auto;
        }
    }

    &__step {
        text-align: center;
	}
}

.social {
	text-align: center;
	margin-top: 50px;
	position: relative;

	&_blue {
		&:after {
			display: none;
		}

		.social__text {
			color: $grayColor1;
		}

		.social__icon {
			a {
				background-color: $blueColor;
			}
		}
	}

	&:after {
		content: "";
		position: absolute;
		top: -120%;
		left: -37.5%;
		z-index: 1;
		width: 486px;
		height: 226px;
		background: url("../img/coins-winner1.png") no-repeat center center;
		background-size: contain;
		animation-name: coins3;
		animation-duration: 1s;
		animation-timing-function: ease-in;
		animation-delay: 0s;
		animation-direction: alternate;
		animation-iteration-count: infinite;
	}

	&__text {
		color: $grayColor2;
		font-family: $fontPFDinL;
		font-size: 16px;
		margin: 0 -15px 0;
	}

	&__icon {
		margin-top: 20px;

		li {

			&:nth-child(n+2) {
				margin-left: 10px;
			}
		}

		a {
			display: inline-block;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			background-color: $activeItemMenu;
			position: relative;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.icon-fb {
				font-size: 20px;
			}

			.icon-odn,
			.icon-insta {
				font-size: 22px;
			}
		}
	}
}

.coins-animate {
	position: relative;
	perspective: 500px;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: -60%;
		width: 132px;
		height: 219px;
		background: url("../img/coins-winner3.png") no-repeat center center;
		background-size: contain;
		animation-name: coins1;
		animation-duration: 1s;
		animation-timing-function: ease-in;
		animation-delay: 0s;
		animation-direction: alternate;
		animation-iteration-count: infinite;
		transform-origin: right;
	}

	&:after {
		content: "";
		position: absolute;
		top: 20%;
		right: -68%;
		width: 135px;
		height: 229px;
		background: url("../img/coins-winner2.png") no-repeat center center;
		background-size: contain;
		animation-name: coins2;
		animation-duration: 1s;
		animation-timing-function: ease-in;
		animation-delay: 0s;
		animation-direction: alternate;
		animation-iteration-count: infinite;
		transform-origin: right;
	}
}

@keyframes coins3{
	0%{
		top: -100%;
	}

	100%{
		top: -120%;
	}
}

@keyframes coins1 {
	0%{
		transform: rotate(15deg) rotateX(15deg) rotateY(-10deg);
	}

	100%{
		transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
	}
}

@keyframes coins2 {
	0%{
		right: -55%;
		transform: rotateX(30deg);
	}

	100%{
		right: -68%;
		transform: rotateX(0deg);
	}
}

input, textarea {
    border: 1px solid $linkColor;
    background-color: $whiteColor;
    color: $blueColor;
    font-size: 18px;
    font-family: $fontPFDinM;
    padding: 13px 20px;
    width: 100%;
}

::-ms-clear {
    display: none;
}

textarea {
    min-height: 229px;
    overflow: auto;
}

// Captcha -----------------
.captcha {
    margin: 20px -30px 10px;
    padding: 15px 35px 20px;
    background-color: #f3f3f3;

    &_feedback {
        padding: 15px 0 20px;
        margin: 18px 0 0;
    }

    &_text {
        font-size: 14px;
        color: $grayColor2;
        font-family: $fontPFDinL;
    }

    &__img {
        position: relative;
		padding-right: 50px;
		flex-shrink: 0;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            background: url("../img/svg/arrow-captcha.svg") no-repeat center center;
            width: 11px;
            height: 18px;
        }
    }

    &__wrap {
        margin-top: 10px;
        position: relative;
    }

    &__input {
        max-width: 120px;
        text-align: center;
    }

    &__send {
        max-width: 120px;
    }

    #captcha-error {
        position: absolute;
        bottom: -18px;
        left: 0;
        right: 0;
        text-align: center;
    }
}

// Substrate ----------------
.substrate {
    margin: 0 auto;
    background-color: $whiteColor;
    padding: 20px 50px 55px;
    position: relative;
    text-align: center;

    &_mrg {
        margin-bottom: 75px;
    }

    &--full {
        max-width: 100%;
        padding: 50px;
    }
}

// Text ---------------------
.text {
    text-align: center;
    font-family: $fontPFDinL;
    color: $grayColor1;

    &_minMargin {
        margin-top: 10px;
    }

    &_big {
        font-size: 18px;
    }

    &_max-w {
        max-width: 340px;
        margin: 5px auto;
    }

    &_alignr {
        text-align: right;
        font-size: 14px;
    }

    a {
        text-decoration: underline;
        color: $linkColor;
    }
}

// Title ----------------------
.title {
    color: $blueColor;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

// Table ----------------------
.table {
    width: 100%;
    border-spacing: 3px;
    font-family: $fontPFDinL;
    color: $grayColor1;
    font-size: 18px;

    &--padding {
        border-spacing: 15px;
    }

    &--margin {
        text-align: left;
		border-spacing: 40px;
		margin-top: -30px;
		margin-bottom: -30px;
    }
}

.head-date {
    padding-left: 38px;
}

thead th {
    text-align: center;
    color: $grayColor2;
    font-size: 14px;
    padding-bottom: 10px;
}

tbody td {
    text-align: center;
}

// Conditions -------------------
.conditions {
    position: relative;
    z-index: 1;

    &_container {
        position: relative;
    }

    &__img {
        text-align: center;
    }

    &__info {
        margin-top: 60px;
        text-align: center;
    }

    &__content {
        text-align: center;
    }

    &__step {
        margin-bottom: 20px;

        & .swiper-slide {
            text-align: left;
            font-family: $fontPFDinLI;
            font-size: 21px;
            max-width: 292px;
            width: 100%;

            .condition-swipper {
                padding-left: 50px;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 5px;
                    width: 45px;
                    height: 62px;
                    background: url("../img/digits-home.png") no-repeat;
                    background-position: 15px 0;
                }
            }

            span {
                font-family: $fontPFDinMI;
            }

            &+.swiper-slide {
                margin-left: 30px;

                .condition-swipper {
                    &:before {
                        background-position: 45% 0;
                    }
                }
            }

            &+.swiper-slide+.swiper-slide {

                .condition-swipper {
                    &:before {
                        background-position: 100.5% 0;
                    }

                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}

.condition-text {
    font-family: $fontPFDinMI;
    font-size: 34px;
    text-transform: uppercase;

    &:before {
        content: "";
        position: absolute;
        left: -28px;
        top: 0px;
        width: 20px;
        height: 20px;
        text-align: center;
    }
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
    outline: none;
    width: 50px;
    height: 50px;
    background-size: 12px 20px;
    top: 50%;

    &.swiper-button-disabled {
        opacity: .6;
    }
}

.condition-pagination {
    display: none;
    bottom: auto !important;
    top: 0;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: $whiteColor;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: $blueColor;
}


.swiper-button-prev {
    background-image: url("../img/svg/arrow-slider.svg");
    left: 0;
}

.swiper-button-next {
    background-image: url("../img/svg/arrow-slider.svg");
    transform: rotate(180deg);
    right: 0;
}

.section-info {
	padding: 18px 0 30px;
	background-color: #0094ce;
	text-align: center;
	overflow: hidden;
	border-top: 8px solid #ffd07f;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: -2px;
		left: 50%;
		transform: translateX(-50%);
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 8px solid #ffd07f;
	}

	&__wrap {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: -32px;
			left: 0;
			background: url("../img/sheets-2.png") no-repeat center center;
			width: 162px;
			height: 191px;
			background-size: cover;
		}

		&:after {
			content: "";
			position: absolute;
			top: -35px;
			right: 0;
			background: url("../img/sheets-3.png") no-repeat center center;
			width: 161px;
			height: 172px;
			background-size: cover;
		}
	}
}

.section-info-inner {
	font-family: $fontPFDinR;
	position: relative;
	z-index: 1;

	&:after {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		bottom: -95px;
		left: 50%;
		transform: translate(-50%, 0);
		background: url("../img/sheets-1.png") no-repeat center center;
		height: 131px;
		width: 400px;
		background-size: contain;
	}

	&__text {
		font-size: 21px;

		&_line {
			display: inline;
		}
	}
}


// Paralax-coins ---------------
.container-img {
    position: relative;

    &_first {
        &:before {
            content: "";
            position: absolute;
            z-index: -2;
            bottom: -295px;
            left: -80px;
            background: url("../img/coins1.png") no-repeat center center;
            width: 520px;
            height: 1075px;
            background-size: contain;
        }

        &:after {
            content: "";
            position: absolute;
            z-index: -2;
            bottom: -360px;
            right: -80px;
            background: url("../img/coins2.png") no-repeat center center;
            width: 520px;
            height: 900px;
            background-size: contain;
        }
    }

    &_second {
        &:before {
            content: "";
            position: absolute;
            z-index: -2;
            bottom: -230px;
            left: -80px;
            background: url("../img/coins3.png") no-repeat center center;
            width: 412px;
            height: 915px;
            background-size: contain;
        }

        &:after {
            content: "";
            position: absolute;
            z-index: -2;
            bottom: -310px;
            right: -80px;
            background: url("../img/coins4.png") no-repeat center center;
            width: 676px;
            height: 950px;
            background-size: contain;
        }
    }

    &_third {
        &:before {
            content: "";
            position: absolute;
            z-index: -2;
            bottom: -80px;
            left: -80px;
            background: url("../img/coins-opacity1.png") no-repeat center center;
            width: 350px;
            height: 720px;
            background-size: contain;
        }

        &:after {
            content: "";
            position: absolute;
            z-index: -2;
            bottom: -400px;
            right: -80px;
            background: url("../img/coins-opacity2.png") no-repeat center center;
            width: 330px;
            height: 1154px;
            background-size: contain;
        }
    }

    &_first-feedback {

        &:before {
            bottom: 40px;
        }

        &:after {
            bottom: 0;
        }
    }

    &_second-feedback {

        &:before {
            bottom: 35px;
        }

        &:after {
            bottom: 35px;
        }
    }

    &_second-feedback {

        &:before {
            bottom: -10px;
        }

        &:after {
            bottom: -15px;
        }
	}
	
	&_first-product {
		&:before {
			bottom: 50%;
			transform: translateY(30%);
		}
		&:after {
			bottom: 50%;
			transform: translateY(30%);
		}
	}

	&_second-product {
		&:before {
			bottom: 50%;
			transform: translateY(30%);
		}
		&:after {
			bottom: 50%;
			transform: translateY(30%);
		}
	}

	&_third-product {
		&:before {
			bottom: 50%;
			transform: translateY(30%);
		}
		&:after {
			bottom: 50%;
			transform: translateY(30%);
		}
	}
}

// Feedback --------------------
.feedback {
    position: relative;
    z-index: 1;
}

.container_little {
    max-width: 780px;
}

// Personal Area ----------------
.personal-info {
	position: relative;
	z-index: 1;
}

.personal-wrap {
    &__name {
        margin-bottom: 15px;
	}
	
	&__table {
		overflow-y: scroll;
		overflow-x: hidden;
		height: 430px;
	}

    .table {
        th {
            text-align: left;
			width: 30%;
			position: relative;
			top: 30px;

            &:nth-child(2) {
                width: 39%;
            }
        }

        td {
            text-align: left;
        }
    }

    .personal-date {
        p {
            padding-left: 20px;
            position: relative;

            &:before {
                content: "";
                position: absolute;
				top: 50%;
				margin-top: -7px;
				left: 0;
				width: 14px;
            	height: 14px;
				background: url("../img/svg/calendar.svg") no-repeat center center;
			}
			
			&:last-child {
				&:before {
					background: url("../img/svg/clock.svg") no-repeat center center;
				}
			}
        }
	}
	
	.personal-status {
		&__wrap {
			padding-left: 50px;
			margin-left: -50px;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 36px;
				height: 39px;
				background: url("../img/coins-table.png") no-repeat center center;
			}

			&_err {
				&:before {
					background: url("../img/svg/emoji.svg") no-repeat center center;
				}
			}
		}
	}

	.personal-text {

		&_blod {
			font-family: $fontPFDinM;
		}
	}

	.gift {

		&_empty {
			color: #b2b2b2;
		}
	}
}

.personal-name {
    font-family: $fontPFDinM;
    font-size: 34px;
}

.personal-info-wrap {
    align-items: flex-end;
}

.personal-card {
    padding-left: 70px;
    position: relative;
    margin-top: 20px;

    &__text {
        font-family: $fontPFDinL;
        font-size: 14px;
    }

    &__nomber {
        margin-top: 2px;
        font-family: $fontPFDinM;
        font-size: 21px;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: url("../img/card-little.png") no-repeat center center;
        width: 60px;
        height: 36px;
    }
}

.personal-exit {
    .personal-area__exit-btn {
        font-size: 18px;
        text-transform: uppercase;
    }
}

// Winners Page ------------
.winners {
    position: relative;
    z-index: 1;

    &__table {
        height: 284px;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top: 30px;
    }
}

// Regulations -------------
.regulations {
	position: relative;
	z-index: 1;
}

.regulations-text {
	color: $grayColor1;
	font-family: $fontPFDinL;
	font-size: 21px;
	margin-bottom: 120px;

	& li {
		position: relative;
		margin-top: 55px;
		text-align: left;
		padding-left: 150px;
		margin-left: 50px;

		&:before {
			content: "";
			position: absolute;
			top: -15px;
			left: 0;
			width: 94px;
			height: 60px;
			background: url("../img/stock-sprate.png") no-repeat;
			background-position: 0 0;
		}

		&+li {
			margin-left: 85px;

			&:before {
				width: 107px;
				height: 50px;
				background-position: -22px -91px;
			}
		}

		&+li+li {
			margin-left: 100px;
			margin-top: 70px;

			&:before {
				top: -20px;
				width: 116px;
				height: 63px;
				background-position: -45px -185px;
			}
		}
	}

	&_link {
		color: $linkColor;
		text-decoration: underline;

		&:hover {
			color: $linkColor;
			text-decoration: underline;
		}
	}
}

.regulations-nomber {
	position: absolute;
	top: 50%;
	left: 60px;
	margin-top: -28px;
	width: 58px;
	background-color: $linkColor;
	transform: skew(-10deg);

	& span {
		text-align: center;
		font-size: 50px;
		font-family: $fontPFDinBI;
		display: block;
		transform: skew(10deg);
		color: $whiteColor;
	}
}

.regulations-img {
	max-height: 170px;
}

.regulations-about {
	margin-bottom: 80px;

	&__box {
		width: 33%;

		&:nth-child(n+2) {
			margin-left: 30px;
		}
	}
}

.regulations-about-text {
	color: $grayColor1;
	font-family: $fontPFDinL;
	font-size: 18px;
	margin-top: 20px;

	&_blod {
		font-family: $fontPFDinMI;
	}
}

.regulations-questions-text {
	margin-top: 10px;
	color: $grayColor1;
	font-family: $fontPFDinL;
	font-size: 18px;
}

// Product --------------
.product {
	position: relative;
	z-index: 1;
}

.product-slider {
	margin-top: 40px;
	width: 95%;
}

.product-item {

	&__text {
		margin-top: 10px;
		color: $linkColor;
		font-size: 21px;
		text-transform: uppercase;

		&_weight {
			color: $grayColor1;
			font-family: $fontRoboto;
			text-transform: none;
			font-size: 16px;
			margin-top: 10px;
		}
	}
}

.product-btn {
	background-color: $activeItemMenu;
	background-size: 20px 30px;
	width: 55px;
	height: 78px;
	transform: skew(-10deg) rotate(180deg);
	display: block;
	box-shadow: -3px -6px 0px 0px $blueColor;
	top: 35%;
	right: -20px;

	& + .product-btn {
		transform: skew(-10deg);
		box-shadow: 3px 6px 0px 0px $blueColor;
		left: -20px;
	}
}

.product-pagination {
	margin-top: 65px;
	display: block;
	position: static;
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	border: 1px solid $linkColor;
	background-color: $whiteColor;
}

.swiper-pagination-bullet-active {
	background-color:$blueColor;
	border: 1px solid $blueColor;
}

// For IE --------------
.scroll-element.scroll-x.scroll-scrollx_visible.scroll-scrolly_visible {
    display: none;
}

// Scroll -----------------
.winners__table>.scroll-element,
.winners__table>.scroll-element div,
.personal-wrap__table>.scroll-element,
.personal-wrap__table>.scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 5;
}

.winners__table>.scroll-element div,
.personal-wrap__table>.scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.winners__table>.scroll-element.scroll-x,
.personal-wrap__table>.scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
	width: 100%;
	display: none !important;
}

.winners__table>.scroll-element.scroll-y,
.personal-wrap__table>.scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
    transition: none;
}

.winners__table>.scroll-element .scroll-element_outer,
.personal-wrap__table>.scroll-element .scroll-element_outer {
    overflow: hidden;
}

.winners__table>.scroll-element .scroll-element_outer,
.winners__table>.scroll-element .scroll-element_track,
.winners__table>.scroll-element .scroll-bar,
.personal-wrap__table>.scroll-element .scroll-element_outer,
.personal-wrap__table>.scroll-element .scroll-element_track,
.personal-wrap__table>.scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    transition: none;
}

.winners__table>.scroll-element .scroll-element_track,
.personal-wrap__table>.scroll-element .scroll-element_track {
    background: $grayColor2;
}

.winners__table>.scroll-element .scroll-bar,
.personal-wrap__table>.scroll-element .scroll-bar {
    background-color: $blueColor;
}

.winners__table>.scroll-element:hover .scroll-bar,
.personal-wrap__table>.scroll-element:hover .scroll-bar {
    background-color: $blueColor;
}

.winners__table>.scroll-element.scroll-draggable .scroll-bar,
.personal-wrap__table>.scroll-element.scroll-draggable .scroll-bar {
    background-color: $blueColor;
}

.winners__table>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track,
.personal-wrap__table>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    left: -12px;
    transition: none;
}

.winners__table>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track,
.personal-wrap__table>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    top: -12px;
    transition: none;
}

.winners__table>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size,
.personal-wrap__table>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -12px;
    transition: none;
}

.winners__table>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size,
.personal-wrap__table>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -12px;
    transition: none;
}