// Select ------------
body > .select2-container {
    width: auto !important;
    transition: none;
}

.select2-container {
  width: 100% !important;
  outline: none;
  z-index: 101;

  & * {
    outline: none;
  }

  .select2-selection {
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid $linkColor;
    background-color: $whiteColor;
    color: $blueColor;
    font-size: 18px;
    font-family: $fontPFDinM;
    padding: 13px 20px;
    border-radius: 0;
  }

  .select2-selection__rendered {
    padding-left: 0 !important;
  }

  .select2-selection__arrow b {
    display: none;
  }

  .select2-selection__arrow {
    height: 100% !important;
    width: 38px !important;

    &::before {
      border: none;
      background: url('../img/svg/arrow-select.svg') no-repeat center / cover;
      width: 16px;
      height: 12px;
      background-size: contain;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .select2-dropdown {
    border: 1px solid $linkColor;
    border-top: none;
    transition: none;
  }
  
  .select2-results__option {
    color: $blueColor;
    font-family: $fontPFDinM;
  }
}

// Checkbox ------------
.checkbox {
  position: relative;
  padding: 7px 0;
  display: flex;
  flex-direction: column;
  color: $grayColor1;

  input {
    position: absolute;
    z-index: -1;
    opacity: -2;
  }

  &__text {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
	font-size: 14px;
	font-family: $fontPFDinL;
	order: -1;

    a {
      color: $linkColor;
      text-decoration: underline;
    }

    &::before {
      content: '';
      position: absolute;
      height: 17px;
      width: 17px;
      border: 1px solid $linkColor;
      left: 0;
      top: -4px;
    }
  }
}

.checkbox input:checked + .checkbox__text:after {
  position: absolute;
  content: '';
  background: url("../img/svg/ok-cheked.svg") no-repeat center / cover;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 0;
}

.checkbox input:checked ~ .checkbox__text:after {
  position: absolute;
  content: '';
  background: url("../img/svg/ok-cheked.svg") no-repeat center / cover;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 0;
}