.container {
  width: 100%;
  padding: 0 15px;
  max-width: 960px;
  margin: 0 auto;
}

.flex-cont {
  display: flex;
}

.justify-sb {
  justify-content: space-between;
}

.justify-sa {
  justify-content: space-around;
}

.justify-fe {
    justify-content: flex-end;
}

.justify-c {
  justify-content: center;
}

.align-c {
  align-items: center;
}