@font-face {
    font-family: 'pf_din_text_comp_proBdIt';
    src: url('../fonts/DinTextCompPro/pfdintextcomppro-boldital-webfont.eot');
    src: url('../fonts/DinTextCompPro/pfdintextcomppro-boldital-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-boldital-webfont.woff2') format('woff2'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-boldital-webfont.woff') format('woff'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-boldital-webfont.ttf') format('truetype'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-boldital-webfont.svg#pf_din_text_comp_proBdIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_prolight';
    src: url('../fonts/DinTextCompPro/pfdintextcomppro-light-webfont.eot');
    src: url('../fonts/DinTextCompPro/pfdintextcomppro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-light-webfont.woff2') format('woff2'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-light-webfont.woff') format('woff'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-light-webfont.ttf') format('truetype'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-light-webfont.svg#pf_din_text_comp_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_proLtIt';
    src: url('../fonts/DinTextCompPro/pfdintextcomppro-lightital-webfont.eot');
    src: url('../fonts/DinTextCompPro/pfdintextcomppro-lightital-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-lightital-webfont.woff2') format('woff2'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-lightital-webfont.woff') format('woff'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-lightital-webfont.ttf') format('truetype'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-lightital-webfont.svg#pf_din_text_comp_proLtIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_proMdIt';
    src: url('../fonts/DinTextCompPro/pfdintextcomppro-medital-webfont.eot');
    src: url('../fonts/DinTextCompPro/pfdintextcomppro-medital-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-medital-webfont.woff2') format('woff2'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-medital-webfont.woff') format('woff'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-medital-webfont.ttf') format('truetype'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-medital-webfont.svg#pf_din_text_comp_proMdIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_promedium';
    src: url('../fonts/DinTextCompPro/pfdintextcomppro-medium-webfont.eot');
    src: url('../fonts/DinTextCompPro/pfdintextcomppro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-medium-webfont.woff2') format('woff2'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-medium-webfont.woff') format('woff'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-medium-webfont.ttf') format('truetype'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-medium-webfont.svg#pf_din_text_comp_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_proregular';
    src: url('../fonts/DinTextCompPro/pfdintextcomppro-regular-webfont.eot');
    src: url('../fonts/DinTextCompPro/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-regular-webfont.woff2') format('woff2'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-regular-webfont.woff') format('woff'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-regular-webfont.ttf') format('truetype'),
         url('../fonts/DinTextCompPro/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/RobotoR/Roboto-Regular.eot');
	src: url('../fonts/RobotoR/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/RobotoR/Roboto-Regular.woff2') format('woff2'),
	url('../fonts/RobotoR/Roboto-Regular.woff') format('woff'),
	url('../fonts/RobotoR/Roboto-Regular.ttf') format('truetype'),
	url('../fonts/RobotoR/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
  }

  @font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon/icomoon.eot?61fpy9');
	src:  url('../fonts/icomoon/icomoon.eot?61fpy9#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon/icomoon.ttf?61fpy9') format('truetype'),
	  url('../fonts/icomoon/icomoon.woff?61fpy9') format('woff'),
	  url('../fonts/icomoon/icomoon.svg?61fpy9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-Combined_Shape:before {
	content: "\e904";
	color: #00468b;
  }
  .icon-mob-menu .path1:before {
	content: "\e90c";
	color: rgb(255, 255, 255);
  }
  .icon-mob-menu .path2:before {
	content: "\e90d";
	margin-left: -0.685546875em;
	color: rgb(255, 255, 255);
  }
  .icon-mob-menu .path3:before {
	content: "\e90e";
	margin-left: -0.685546875em;
	color: rgb(255, 255, 255);
  }
  .icon-mob-menu .path4:before {
	content: "\e90f";
	margin-left: -0.685546875em;
	color: rgb(21, 190, 240);
  }
  .icon-show_password:before {
	content: "\e900";
	color: #15bef0;
  }
  .icon-close-btn:before {
	content: "\e901";
	color: #fff;
  }
  .icon-arrow-captcha:before {
	content: "\e902";
	color: #00468b;
  }
  .icon-arrow-slider:before {
	content: "\e903";
	color: #00468b;
  }
  .icon-fb:before {
	content: "\e908";
	color: #fff;
  }
  .icon-insta:before {
	content: "\e909";
	color: #fff;
  }
  .icon-odn:before {
	content: "\e90a";
	color: #fff;
  }
  .icon-vk:before {
	content: "\e90b";
	color: #fff;
  }
  