// Header
.header {
  padding: 15px 0 18px;
  position: relative;
  z-index: 11;
  background-color: $headerBg;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger {
    display: none;
    font-size: 33px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 18px;
  width: 100%;

  &__link {
	transition: all .2s ease;

    & + .nav__link {
	  margin-left: 18px;
    }

    &:hover,
    &.active {
      color: $activeItemMenu;
    }
  }
}

.logo {
	position: relative;
    top: 40px;
	margin: -25px 120px -20px 0;
	
	img {
		max-height: 69px;
	}

	&_mob {
		display: none;
	}
}

.personal-area {
  margin-left: 18px;

  &__photo {
	  display: none;
  }

  &__info {
    width: 100%;
  }

  &__text {
	text-align: center;
	margin-top: -20px;
    margin-bottom: -28px;
    padding: 20px 12px 30px;
	transform: skew(-10deg);
	transition: all .2s ease;
	
	p {
		transform: skew(10deg);
		transition: all .2s ease;
	}

	&:hover {
		background-color: #ffd07f;
	}

	&:hover p {
		color: $blueColor;
	}
  }

  &__no-entry {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__entry {
    display: none;
  }

  &.login {

    .personal-area__entry {
      display: flex;
      align-items: flex-end;
	  flex-direction: column;
	}
	
	.personal-area__text {
		background-color: #ffd07f;
		
		p {
			color: $blueColor;
		}
	}

	.personal-area-name {
		display: none;
	}

    .personal-area__no-entry {
      display: none;
    }
  }
}

.container-info__score {
	display: none;
}

.personal-area-photo {
	display: none;
    margin-right: 7px;
	background-color: #ffd07f;
	margin: -30px 0 -20px;
	width: 50px;
	height: 50px;
    position: relative;
    flex-shrink: 0;

    &_icon {
      position: absolute;
      top: 50%;
      left: 50%;
	  transform: translateX(-50%) translateY(-50%);
	  font-size: 26px;
    }
}

