@media only screen and (max-width: 992px) {

    // Header Media ------------------
    .nav {
        &__link {
            font-size: 16px;

            &+.nav__link {
                margin-left: 10px;
            }
        }
    }

    .logo {
        margin: -38px 10px;
    }

    .personal-area {
        font-size: 16px;
        margin-left: 10px;
    }

    // Conditions ------------------
    .conditions {

        &__info {
            margin-top: 30px;
        }

        &__content {
            width: 52%;
            padding: 30px 30px 0;
        }

        &__step {
            justify-content: flex-start;

            & .swiper-slide {
                max-width: none;
                display: flex;
                justify-content: center;

                & .condition-swipper {
                    padding-left: 80px;

                    &:before {
                        left: 30px;
                    }
                }

                &+.swiper-slide {
                    margin-left: 0;
                }
            }
        }
    }

    .condition-btn {
        display: block;
        margin-top: -25px;
    }

    .condition-pagination {
        display: block;
    }

    .condition-text {
        &+p {
            max-width: 200px;
        }
    }

    .btn-wrap_big {
        margin-top: 65px;

        &:after {
            display: none;
        }
    }

    // Parallax----------------
    .container-img {
        &_first {
            &:after {
                bottom: 630px;
                left: -2%;
                background: url("../img/coinMob1.png") no-repeat center center;
                width: 114px;
                height: 73px;
            }

            &:before {
                display: none;
            }
        }

        &_second {
            &:after {
                bottom: 100px;
                left: 0%;
                background: url("../img/coinMob2.png") no-repeat center center;
                width: 104px;
                height: 93px;
            }

            &:before {
                display: none;
            }
        }

        &_third {

            &:after {
                bottom: 620px;
                right: -5%;
                background: url("../img/coinMob3.png") no-repeat center center;
                width: 119px;
                height: 121px;
            }

            &:before {
                display: none;
            }
        }

        &_second-feedback {
            display: none;
        }

        &_first-feedback {
            &:after {
                bottom: 680px;
                left: 85%;
            }
        }

        &_third-feedback {
            &:after {
                bottom: 615px;
                right: 85%;
            }
		}
		
		&_first-regulations {
            &:after {
                bottom: 875px;
            }
        }

        &_third-regulations {
            &:after {
				bottom: 835px;
            }
		}

		&_first-product {
			&:after {
				bottom: 515px;
			}
		}
	
		&_third-product {
			&:after {
				bottom: 500px;
			}
		}
    }

    // Substrate ----------------
    .substrate {

        &_mrg {
            margin-bottom: 80px;
        }

        &:before {
            top: -86px;
            left: -35px;
            width: 215px;
            height: 200px;
            background: url("../img/berries.png") no-repeat center center;
        }

        &:after {
            display: none;
        }
	}
	
	// Product --------------
	.product-btn {
		right: -3px;

		& + .product-btn {
			left: -3px;
		}
	}

	.product-pagination {
		margin-top: 65px;
	}
}

@media only screen and (max-width: 768px) {

    // Conditions ------------------
    .conditions {

        &__content {
            width: 100%;
        }
	}
	
	.section-info__wrap {
		&:before {
			display: none;
		}

		&:after {
			display: none;
		}
	}

    // Substrate ----------------
    .substrate {
        padding: 35px 10px 40px;
    }

    // Header Media ------------------
    .nav {
        position: absolute;
        z-index: 1;
        right: 0;
        background-color: $blueColor;
        padding: 90px 0 30px;
        flex-direction: column;
        top: 0;
        text-align: center;
        transform: translateY(-100%);
        transition: transform .2s ease;

        &__link {
            font-size: 21px;
            padding: 15px 0;

            &+.nav__link {
                margin-left: 0;
            }
        }

        & .logo {
            display: none;
        }

        &.active {
            transform: translateY(0);
        }
    }

    .personal-area-photo {
        display: block;
        visibility: hidden;
    }

    .personal-area-photo.login-photo {
        visibility: visible;
    }

    .bg-fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($blueColor, .7);
        display: none;

        &_active {
            display: block;
        }
    }

    .logo_mob {
        margin: -40px 0 5px;
        display: block;
        position: relative;
        z-index: 1;

        .icon-dobr-logo {
            margin-bottom: -50px;
        }
    }

    .container-info__score {
        display: block;
    }

    .personal-area {
        margin: 40px auto 20px;
        padding: 15px 0;
        width: 70%;

        &__photo {
            display: block;
            position: relative;
            margin-right: 10px;

            &_icon {
                font-size: 26px;

                &:before {
                    color: $whiteColor;
                }
            }
        }

        &__text {
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 0;
            padding: 20px 12px 20px;
            transform: skew(0deg);

            p {
                transform: skew(0deg);
            }
        }

        &__no-entry {
            justify-content: center;
        }

        &.login {
            .personal-area__entry {
                align-items: center;
            }

            .personal-area__text {
                background-color: $blueColor;

                p:first-child {
                    display: none;
                }

                .personal-area-name {
                    color: $whiteColor;
                    display: block;
                }
            }
        }

        &__info {
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
        }

        &:hover .personal-area__text {
            background-color: $activeItemMenu;
        }

        &:hover .personal-area__text p {
            color: $blueColor;
        }

        &:hover.login .personal-area__text p {
            color: $blueColor;
        }
    }

    .header {
        position: relative;
        padding: 10px 0;

        &__burger {
            position: relative;
            z-index: 2;
            display: block;
            cursor: pointer;
            width: 25px;
            height: 35px;

            img {
                position: relative;
            }

            .js-show {
                opacity: 1;
                transition: all .2s linear;
                position: static;
            }

            .js-exit {
                position: absolute;
                opacity: 0;
                transition: all .2s linear;
                top: 0;
            }

            &.active {
                .js-show {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                }

                .js-exit {
                    top: 0;
                    position: static;
                    opacity: 1;
                }
            }
        }

        &__logoMini {
            display: block;

            &+.header__logoMini {
                margin-left: 15px;
            }
        }
    }

    // Conditions -------------------
    .conditions_container {
        justify-content: center;
    }

    .conditions__info {
        width: 100%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
    }

    .rules-swiper {
        overflow: hidden;
    }

    .slide-rules {
        &__photo {
            padding: 0;
        }

        &__title {
            font-size: 22px;
            max-width: 340px;
        }

        &__text {
            font-size: 16px;
        }
    }

    // Parallax----------------
    .container-img {
        &_first-feedback {
            &:after {
                bottom: 675px;
                left: 85%;
            }
        }

        &_third-feedback {
            &:after {
                bottom: 600px;
                right: 85%;
            }
		}

		&_first-regulations {
            &:after {
                bottom: 1050px;
            }
        }

        &_third-regulations {
            &:after {
				bottom: 1010px;
            }
		}

		&_first-product {
			&:after {
				bottom: 570px;
			}
		}
	
		&_third-product {
			&:after {
				bottom: 550px;
			}
		}
    }

    // Footer -------------------
    .footer {
        &__nav {
            flex-direction: column;
            align-items: center;

            li {

                &+li {
                    margin-left: 0;
                    margin-top: 15px;
                }

                &:before {
                    top: -8px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    // Btn
    .btn {

        &--def {
            min-width: 250px;
        }
    }

    // Personal Area Page -------------
    .personal-info {

        .table {

			th {
				width: 56%;
				font-size: 12px;

				&:nth-child(2) {
					width: 56%;
				}
			}
			
			.table__personal {
				font-size: 16px;
			}
        }

        .btn_min {
            min-width: 130px;
        }
    }

    .rejected {
        a {
            &:after {
                width: 18px;
                height: 18px;
            }
        }
    }

    .personal-name {
        font-size: 36px;
        line-height: 36px;
    }

    // Captcha ------------------
    .captcha {
        margin: 20px -10px 0;
        padding: 15px 20px 20px;
    }

    // Cookie
    .cookies__text {
        width: 100%;
	}
	
	// Regulations -------------
	.regulations-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 100px;

		& li {
			margin-left: 10px;
			padding-left: 90px;
			max-width: 380px;
			width: 100%;
			
			&:before {
				top: -13px;
    			left: -8px;
				width: 60px;
				height: 63px;
				background: url("../img/mob-stock-sprite.png") no-repeat;
			}

			&+li {
				margin-left: 10px;
	
				&:before {
					top: -10px;
					left: -11px;
					width: 65px;
					background-position: 2px -90px;
				}
			}
	
			&+li+li {
				margin-left: 10px;
				margin-top: 70px;
	
				&:before {
					top: -30px;
    				left: -8px;
					width: 55px;
					height: 57px;
					background-position: -3px -178px;
				}

				.regulations-nomber {
					top: 50%;
					margin-top: -28px;
				}
			}
		}
	}

	.regulations-nomber {
		left: 10px;
		top: 0;
		margin-top: 0;
	}
	
	.regulations-about {
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 60px;

		&__box {
			width: 42%;

			&:last-child {
				margin-top: 30px;
				margin-left: 0;
			}
		}
	}

	// Product --------------
	.product-btn {
		transform: skew(-10deg) rotate(180deg) scale(0.6);

		& + .product-btn {
			transform: skew(-10deg) scale(0.6);
		}
	}
}

@media only screen and (max-width: 479px) {

    // Conditions -------------------
    .conditions__step {
        & .swiper-slide {

            & .condition-swipper {
                padding-left: 50px;

                &:before {
                    left: 0;
                }
            }
        }
	}
	
	.section-info-inner {

		&:after {
			bottom: -75px;
		}

		&__text {	
			&_line {
				display: block;
			}
		}
	}
	
	.social-text__line {
		display: block;
	}

    .condition-text {
        font-size: 28px;
    }

    .btn_big {
        min-width: 280px;
        box-shadow: 0 170px 0px 130px #00468b;
    }

    .btn_def {
        min-width: 240px;
    }

    .section-rules__container {
        padding-bottom: 50px;
    }

    .slide-rules {

        &__photo {
            &_winners {
                height: 150px;
            }
        }

        &__title {
            font-size: 16px;
        }

        &__text {
            font-size: 16px;
        }
    }

    .rules {

        .btn-wrap {
            margin-top: 50px;
        }
    }

    // Title ---------------
    .title {
        font-size: 24px;
    }

    // Winners ----------------
    .winners {

        &__table {
            height: 405px;
            margin: 30px -10px 0;
        }

        .form__card {
            margin-top: 0;
        }

        .table {

            tr {
                display: flex;
                justify-content: space-between;
            }

            .head-name {
                width: 50%;
				text-align: left;
				display: block;
            }

            .head-phone {
                display: none;
            }

            .head-date {
                width: 50%;
				text-align: right;
				display: block;
            }

            .win-name {
                width: 50%;
                text-align: left;
                margin-bottom: 30px;
                display: block;
            }

            .td_abs {
                position: absolute;
                transform: translateY(-50%);
                top: 65%;
            }

            .win-nomber {
                width: 100%;
                left: 0;
                text-align: left;
            }

            .win-date {
                width: 50%;
				text-align: right;
				display: block;
            }
        }
    }

    tbody {
        & tr {
			position: relative;
			padding: 5px 0 10px;

            &:nth-child(even) {
                position: relative;
                z-index: 1;

                &:after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    bottom: 0;
                    width: 110%;
                    left: -15px;
                    right: 0;
                    background-color: #f5f5f5;
                }
            }
        }
    }

    // Form ---------------------
    .form {
        flex-wrap: wrap;

        &__globalCard {
            width: 100%;
        }
    }

    .form-wrap {
        margin-top: 0;
    }

    // Parallax----------------
    .container-img {

        &_first-feedback {
            &:after {
                bottom: 900px;
                left: 70%;
            }
        }

        &_third-feedback {
            &:after {
                bottom: 845px;
                right: 75%;
            }
		}
		
		&_first-winners {
            &:after {
                bottom: 790px;
    			left: 70%;
            }
        }

        &_third-winners {
            &:after {
                bottom: 730px;
            }
		}

		&_first-personal {
            &:after {
                bottom: 685px;
            }
        }

        &_third-personal {
            &:after {
				bottom: 645px;
				right: 75%;
            }
		}

		&_first-regulations {
            &:after {
                bottom: 1200px;
            }
        }

        &_third-regulations {
            &:after {
				bottom: 1210px;
            }
		}

		&_first-product {
			&:after {
				bottom: 525px;
			}
		}
	
		&_third-product {
			&:after {
				bottom: 515px;
			}
		}
    }

    // Personal Area Page -------------
    .personal-info {

		.personal-wrap__table {
			margin: 0 -10px;
		}

        .table {
            margin-top: -10px;

            &__personal {
				padding: 15px 0 25px;

                td {
                    padding: 0;
					font-size: 18px;
				}
				
				&:nth-child(even) {
	
					&:after {
						width: 130%;
						left: -30px;
					}
				}
			}
			
            thead {
                display: none;
            }

            tr {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
			}
		}

		td {
			display: block;	
		}

		.personal-date {
			margin-bottom: 5px;
			display: flex;

			p:first-child {
				margin-right: 10px;
			}
		}

		.personal-status__wrap {
			margin-left: -18px;
		}
	}


    .gift {
        text-align: left;
        font-size: 16px;
        margin-top: 10px;
    }

    // PopUp ---------------------
    .popup {
        padding: 0 10px;

        &__wrap {
            top: 80px;
        }
	}
	
	// Regulations -------------
	.regulations-text {
		font-size: 18px;
		margin-bottom: 80px;

		& li {
			margin-top: 45px;
	
			&+li+li {
				margin-top: 60px;
			}
		}
	}
	
	.regulations-about {
		margin-bottom: 60px;

		&__box {
			width: 70%;

			&:nth-child(n+2) {
				margin-left: 0;
				margin-top: 45px;
			}
		}
	}

	.regulations-about-text {
		margin-top: 10px;
	}

   // Product --------------
	.product-slider {
		margin-top: 20px;
	}

	.product-pagination {
		margin-top: 35px;
	}

	.reg-winner {
		.popup__wrap {
			padding: 20px 30px 40px;
			max-width: 300px;
	
			&:before {
				display: none;
			}
	
			&:after {
				display: none;
			}
		}
	}

	.form {
		.social {
			&:after {
				display: none;
			}
		}
	}

	.coins-animate {
		&:before {
			display: none;
		}

		&:after {
			display: none;
		}
	}
}