// Cookies -----------
.cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $cookieBg;
    padding: 25px 0 20px;
    text-align: center;
    transition: all .2s linear;
    opacity: 0;
    z-index: -1;
    color: $whiteColor;
    font-family: $fontPFDinL;

    &__text {
        margin: 0 auto 10px;
        width: 70%;

        a {
            color: $linkColor;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                bottom: 1px;
                left: 0;
                right: 0;
                height: 1px;
                background-color: $linkColor;
            }
        }
    }

    &.js-show {
        opacity: 1;
        z-index: 99;
    }
}

// Popup -------------
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba($blueColor, .7);
    z-index: -1;
    opacity: 0;
    transform: scale(0);
    transition: all .2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;

    // Show
    &.js-popup-show {
        z-index: 100;
        opacity: 1;
        transform: scale(1);
    }

    &__close {
        position: absolute;
        top: -30px;
		margin-right: -12px;
		right: 50%;
		width: 22px;
		height: 22px;
        cursor: pointer;
        text-align: center;
    }

    &__wrap {
        background-color: $whiteColor;
        max-width: 300px;
        width: 100%;
        padding: 20px 30px 40px;
        position: absolute;
        top: 120px;
        left: 50%;
        margin-bottom: 100px;
        transform: translateX(-50%);
    }

    &__title {
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;

        &--min {
            font-size: 21px;
            color: #4a4a4a;
            margin-bottom: 10px;
            margin-top: 40px;
        }
    }

    &__text {
        text-align: center;
		color: $grayColor1;
		font-family: $fontPFDinL;
		font-size: 18px;

		&_img {
			margin-bottom: 20px;
		}

        &--marginTop {
            margin-top: 30px;
        }

        &_color-w {
            a {
                color: $linkColor;
                text-decoration: underline;
            }
        }
    }
}

.reg-winner {
	.popup__wrap {
		padding: 20px 60px 40px;
		max-width: 380px;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: -35%;
			width: 117px;
			height: 312px;
			z-index: 1;
			background: url("../img/Sparcles1.png") no-repeat center center;
			background-size: contain;
		}

		&:after {
			content: "";
			position: absolute;
			top: 20%;
			right: -35%;
			z-index: 1;
			width: 127px;
			height: 282px;
			background: url("../img/Sparcles2.png") no-repeat center center;
			background-size: contain;
		}
	}
}

.icon-close-btn {
    font-size: 20px;
}

// Error Validate
span div.error {
    font-family: $fontPFDinL;
    color: #ff0000;
    font-size: 12px;
    margin-top: 3px;
}