/*STYLE RESET START*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    color: $whiteColor;
    font: $fontSize $fontPFDinMI;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    display: block;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    max-height: auto;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
}

label {
    margin: 0;
}

input, select {
    border: none;
    outline: none;
    border-radius: 0;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.height-helper {
    min-height: 94%;
    overflow: hidden;
    background-color: $helperBg;
}

/*STYLE RESET END*/