// Reset ---------------
$fontPFDinMI: 'pf_din_text_comp_proMdIt', sans-serif;
$fontPFDinLI: 'pf_din_text_comp_proLtIt', sans-serif;
$fontPFDinBI: 'pf_din_text_comp_proBdIt', sans-serif;
$fontPFDinL: 'pf_din_text_comp_prolight', sans-serif;
$fontPFDinM: 'pf_din_text_comp_promedium', sans-serif;
$fontPFDinR: 'pf_din_text_comp_proregular', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontSize: 16px;
$whiteColor: #ffffff;

// Color --------------
$activeItemMenu: #ffd07f;
$grayColor2:  #9b9b9b;
$grayColor1: #4a4a4a;
$blueColor:  #00468b;
$linkColor: #15bef0;

// Cookies ----------
$cookieBg: #00468b;

// Button -----------
$btnDefBg: #ffd07f;
$btnLineBg:  #ffe6a9;
$btnDnBg: #ebebeb;

// Helper -------------
$helperBg: #15bef0;

// Header -------------
$headerBg:  #00468b;

// Footer -----------
$footerBg: #ffffff;
$footerTextColor: #4d1d85;